
$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark:  #76FF03; 
$blue-dark: #196eed;
$mainColor: rgb(129,154,169);
$bg: rgb(226,229,230);
$crimson: rgb(243,109,102);


.nav-tabs-custom{
  border-bottom: none;
  outline: none;
}
.nav-link-custom.active{
  color: #0080ff;
  background-color: #212B46;
  border: 1px solid #0080ff;
  outline: none;

}

.nav-link-custom{
  color: white;
  background-color: #212B46;
  border: 1px solid #0080ff;
  outline: none;

}


.bordo{
  border: 2px solid #196eed;
  height: 581px;
  width: 1226px;
  position: absolute;
  top: 128px;
  left: 100px;
  z-index: -30;
}
.contenitore-optim{
    position: absolute;
    top: 63px;
    left: -169px;
}

.title-drag{
    background-color: $card-color-dark;
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 6px -1px 5px 3px darken($bg-dark,6);
    margin-left:85px;
  }

  .ice{
    position: absolute;
    top: 517px;
    left: 1110px;
  }

  .lightning{
    position: absolute;
    top: 257px;
    left: 967px;
  
  }
  
  .flame{
    position: absolute;
    top: 565px;
    left: 754px;
  }

  .el-bus-stor{
    position: absolute;
    top: 61px;
    left: 689px;
    transform: rotate(180deg);
    width: 1.3px;
    height: 39px;
    background: yellow;         
  }

  .electric-bus{
    color:yellowgreen;
}

.solar-g{
    position: absolute;
    top:200px;
    left:900px;
  }
  
  
  
  .el-bus{
    background-image: radial-gradient(circle, transparent, transparent, yellow 99%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    left: 900px;
  }
  
  .heat-bus{
    background-image: radial-gradient(circle, transparent, transparent, red 99%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 510px;
    left: 700px;
  }
  
  .cool-bus{
    background-image: radial-gradient(circle, transparent, transparent, blue 99%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 510px;
    left: 1100px;
  }
  
  .solar-p{
    position: absolute;
    top:70px;
    left:956px
  }
  
  .solToEl{
    width: 2px;
    height: 39px;
    background-color: yellow;
    position: absolute;
    top: 80px;
    left: 41px;
  }
  
  .wind{
    position: absolute;
    top: 231px;
    left: 754px;
  }
  
  .windToEl{
    width: 61px;
    height: 2px;
    background-color: yellow;
    position: absolute;
    top: 56px;
    left: 82px;
  }
  
  .battery{
    position: absolute;
    top: 235px;
    left: 1154px;
  }
  
  .batToEl{
    width: 61px;
    height: 2px;
    background-color: yellow;
    position: absolute;
    top: 49px;
    left: -52px;
  }
  
  .elboiler{
    position: absolute;
    top: 395px;
    left: 723px;
  }
  
  .elToBoil{
    width: 158px;
    height: 2px;
    background-color: yellow;
    position: absolute;
    top: -41px;
    left: 27px;
    transform: rotate(-30deg);
  }
  
  .boilToHeat{
    width: 2px;
    height: 45px;
    background-color: red;
    position: absolute;
    top: 69px;
    left: 34px;
  }
  
  .heatstor{
    position: absolute;
    top: 398px;
    left: 820px;
  }
  
  .elToHeatstor{
    width: 81px;
    height: 2px;
    background-color: yellow;
    position: absolute;
    top: -25px;
    left: 24px;
    transform: rotate(-30deg);
  }
  
  .HeatstorToHeat{
    width: 2px;
    height: 55px;
    background-color: red;
    position: absolute;
    top: 65px;
    left: 29px;
  }
  
  .coldstor{
    position: absolute;
    top: 398px;
    left: 1150px;
  }
  
  .elToColdstor{
    width: 109px;
    height: 2px;
    background-color: yellow;
    position: absolute;
    top: -29px;
    left: -68px;
    transform: rotate(30deg);
  }
  
  .ColdstorToCool{
    width: 2px;
    height: 44px;
    background-color: blue;
    position: absolute;
    top: 68px;
    left: 36px;
  }


  
  
  .button-graph{
    outline: none;
    background-color: transparent;
    border:none;
  }
  
  


  
  .chp{
    position: absolute;
    top: 395px;
    left: 723px;
  }

  .chp-g{
    position: absolute;
    top: 319px;
    left: 1021px;
  }

  .coldstor-graph{
    transform: scale(0.42,0.42);
    position:absolute;
    top: -74px;
    left: -73px;
    }

    
.abs-chiller-g{
  position: absolute;
  top: 419px;
  left: 1021px;
}

.elToAbs{
  width: 39px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: 406px;
  left: 1020px;
  transform: rotate(71deg);
}





.absToCold{
  width: 89px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 524px;
  left: 1043px;
  transform: rotate(71deg);
}
.elToVap{
  width: 2px;
  height: 248px;
  background-color: yellow;
  position: absolute;
  top: 387px;
  left: 962px;
}
.vap-chiller-g{
  position: absolute;
  top: 627px;
  left: 924px;
}


.vapToCold{
  width: 102px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 663px;
  left: 1012px;

 
}


.customers {
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: $bg-dark;}


.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $blue-dark;
  color: white;
}

.chart-container-principal{

  margin-left: 270px;
  margin-top:100px;
  height: 100%;
  width: 100%;
  // border: 1px solid $blue-dark;
  border-radius: 10px;
  box-shadow: 10px 10px 10px $blue-dark;
}



.absToCool{
  width: 75px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 610px;
  left: 1024px;
}

.boilToHeat{
  width: 2px;
  height: 68px;
  background-color: red;
  position: absolute;
  top: 53px;
  left: 34px;
}

.heatstor{
  position: absolute;
  top: 398px;
  left: 820px;
}

.elToHeatstor{
  width: 81px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: -25px;
  left: 24px;
  transform: rotate(-30deg);
}

.HeatstorToHeat{
  width: 2px;
  height: 55px;
  background-color: red;
  position: absolute;
  top: 65px;
  left: 29px;
}

.coldstor{
  position: absolute;
  top: 398px;
  left: 1150px;
}

.elToColdstor{
  width: 109px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: -29px;
  left: -68px;
  transform: rotate(30deg);
}

.ColdstorToCool{
  width: 2px;
  height: 44px;
  background-color: blue;
  position: absolute;
  top: 68px;
  left: 36px;
}

.elToAbs{
  width: 39px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: 406px;
  left: 1020px;
  transform: rotate(71deg);
}

.elToVap{
  width: 2px;
  height: 57px;
  background-color: yellow;
  position: absolute;
  top: 372px;
  left: 1065px;
  transform: rotate(-32deg);
}



.vapToCold{
  width: 57px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 500px;
  left: 1103px;
  transform: rotate(55deg);
 
}


.absToCold{
  width: 89px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 524px;
  left: 1043px;
  transform: rotate(71deg);
}
.elToChp{
  width: 2px;
  height: 93px;
  background-color: yellow;
  position: absolute;
  top: -7px;
  left: 246px;
  
}

.chpToAbs{
  width: 2px;
  height: 56px;
  background-color: red;
  position: absolute;
  top: 525px;
  left: 970px;
}

.absToCool{
  width: 75px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 610px;
  left: 1024px;
}

.vap-chiller-g{
  position: absolute;
  top: 418px;
  left: 1057px;
}


.abs-chiller-g{
  position: absolute;
  top: 574px;
  left: 936px;
}

.download{
  height: 40px;
}