

<div id="det">
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">

            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Building name</th>
                                <th class="cell100 column2">Type</th>
                                <th class="cell100 column3">Height (m)</th>
                                <th class="cell100 column4">Levels</th>
                                <th class="cell100 column5">Profile</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column1">UNIVPM</td>
                                <td class="cell100 column2">University</td>
                                <td class="cell100 column3">150</td>
                                <td class="cell100 column4">10</td>
                                <td class="cell100 column5">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                        <img src="https://img.icons8.com/color/20/000000/combo-chart.png">
                                    </button>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
  </div>
</div>
</div>

<br>
<br>

<div style="margin-left: 100px; margin-right:300px; padding:30px"  id="elLoad" class="chart-container-principal">
</div>
</div>


<!-- <div routerLink = "/inputsel" style="margin-left:120px;"  class="button-save-build">
    <p>Save & Proceed</p>
</div> -->




<!-- <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="width:1000px; left:-233px; background-color: #212B46;">
        <div class="modal-header" style="width:1000px; border-bottom: none">
          <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
          <button style="color:white" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="width:1000px">
            <div #chart id="elLoad" class="chart-container-principal">
            </div>
        </div>

      </div>
    </div>
  </div> -->