
$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark: #76FF03; 
$blue-dark: #196eed;

.limiter {
    width: 1366px;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    background: $bg-dark;
  margin-left: 100px;
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .table100 {
    background-color: $bg-dark;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column1 {
    width: 33%;
    padding-left: 40px;
  }
  
  .column2 {
    width: 17%;
    text-align: center;
  }
  
  .column3 {
    width: 24%;
    text-align: center;

  }
  
  .column4 {
    width: 17%;
    text-align: center;

  }
  
  .column5 {
    width: 13%;
    text-align: center;

  }
  
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    padding-top: 60px;
  }
  
  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .table100-body {
    max-height: 585px;
    overflow: auto;
  }
  
  /*==================================================================
  [ Ver3 ]*/
  
  .table100.ver3 {
    background-color: #393939;
  }
  
  .table100.ver3 th {
    font-size: 15px;
    color: $blue-dark;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #393939;
  }
  
  .table100.ver3 td {
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
    background-color: #222222;
  }
  
  
  /*---------------------------------------------*/
  
  .table100.ver3 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver3 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver3 .ps__rail-y::before {
    background-color: #4e4e4e;
  }
  
  .table100.ver3 .ps__rail-y .ps__thumb-y::before {
    background-color: #00ad5f;
  }
  

  .btn {
    border: none;
    color: $blue-dark;
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }

  .btn:hover{
    background-color: $blue-dark;
  }

  .delete-btn{
    margin-left:30px;
    border: none;
    background:none;
  }

  .delete-btn:hover{
    cursor: pointer;
  }