    <div class="limiter">

        <div class="container-table100">
            <div class="wrap-table100">
    
                <div class="table100 ver3 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Building name</th>
                                    <th class="cell100 column2">Type</th>
                                    <th class="cell100 column3">Height (m)</th>
                                    <th class="cell100 column4">Levels</th>
                                    <th class="cell100 column5">Profile</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div >
    
                    <div class="table100-body js-pscroll">
                        <table>

                            <tbody>
                                <tr *ngFor = "let edificio of building" [attr.id]="edificio.name" class="row100 body">
                              <td class="cell100 column1">{{edificio.name}} <button (click)="deleteRow(edificio.name)" class="delete-btn" data-toggle="tooltip" data-placement="right" title="Delete"><img src="https://img.icons8.com/flat_round/24/000000/delete-sign.png"></button></td>
                                <td class="cell100 column2">{{edificio.type}}</td>
                                    <td class="cell100 column3">{{edificio.height}}</td>
                                    <td class="cell100 column4">{{edificio.levels}}</td>
                                    <td class="cell100 column5">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <img src="https://img.icons8.com/color/20/000000/combo-chart.png">
                                        </button>
                                    </td>
                                </tr>
                            
                            </tbody>
                        
                        </table>
                    </div>
            
                </div>
                </div>
      </div>
    </div>
    </div>


    
    <br>
    <br>


    <button routerLink = "/inputsel-d" style="position: absolute; top:500px; left:1247px" class="aggregate">
        Proceed
    </button>

    <button style="margin-left: 300px;" class="aggregate" (click)="goBack()">Back</button>