


<img class="lightning" src="https://img.icons8.com/officel/70/000000/lightning-bolt.png">
<img class="flame" src="https://img.icons8.com/flat_round/90/000000/fire-element.png">
<img class="ice" src="https://img.icons8.com/plasticine/180/000000/winter.png">

<div 
cdkDropList
#todoList="cdkDropList"
[cdkDropListData]="todo"
[cdkDropListConnectedTo]="[doneList]"

(cdkDropListDropped)="drop($event)">

<div class="first-box">
<div id="solar-g" cdkDrag><img src="https://img.icons8.com/officel/80/000000/solar-panel.png"></div>
<div id="wind-g" cdkDrag><img src="https://img.icons8.com/officel/80/000000/wind-turbine.png"></div>
<div id="battery-g" cdkDrag><img src="https://img.icons8.com/cotton/80/000000/car-battery.png"></div>
</div>


</div>

<div
            cdkDropList
            #todoList2="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"
            >
            <div class="first-box">
                    <div id="elboiler" cdkDrag><img src="https://img.icons8.com/dusk/70/000000/water-heater.png"></div>
                    <div id="heatstor" cdkDrag><img src="https://img.icons8.com/dusk/64/000000/heating-radiator.png"></div>
                </div> 
</div>


<div
            cdkDropList
            #todoList3="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"
            >
            <div class="first-box">
                    <div id="coldstor" cdkDrag><img src="https://img.icons8.com/officel/80/000000/cooling.png"></div>
                </div>
</div>
<div style="margin-left:700px"
cdkDropList
#doneList="cdkDropList"
[cdkDropListData]="done"
[cdkDropListConnectedTo]="[todoList]"
class="example-list"
(cdkDropListDropped)="drop($event)">
<div class="second-box" *ngFor="let item of done" cdkDrag >{{item}}</div>


<div class="el-bus"></div>
<div class="heat-bus"></div>
<div class="cool-bus"></div>


<div id="solar" class="solar-p" cdkDrag><img src="https://img.icons8.com/officel/80/000000/solar-panel.png">
    <div class="solToEl"></div>
</div>


<div id="wind" class="wind" cdkDrag><img src="https://img.icons8.com/officel/80/000000/wind-turbine.png">
    <div class="windToEl"></div>
</div>

<div id="battery" class="battery" cdkDrag><img src="https://img.icons8.com/cotton/80/000000/car-battery.png">
    <div class="batToEl"></div>
</div>

<div id="elboiler" class="elboiler" cdkDrag><img src="https://img.icons8.com/dusk/70/000000/water-heater.png">
    <div class="elToBoil"></div>
    <div class="boilToHeat"></div>
</div>

<div id="heatstor" class="heatstor" cdkDrag><img src="https://img.icons8.com/dusk/64/000000/heating-radiator.png">
<div class="elToHeatstor"></div>
<div class="HeatstorToHeat"></div>
</div>

<div id="coldstor" class="coldstor" cdkDrag><img src="https://img.icons8.com/color/70/000000/fridge.png">
    <div class="elToColdstor"></div>
    <div class="ColdstorToCool"></div>
</div>

</div> 