<div id="main">
  <!-- <div style="margin-left: 100px;">{{ message }}</div>
  <button style="margin-left:300px" (click)="newMessage()">
    Change
  </button> -->

  <a style="margin-left:30%" routerLink="/report">Go to report</a>

  <div class="row">
    <div class="col-lg-7" id="cont-map">
      <form
        style="margin-left:100px;"
        id="location-form"
        class="form-inline my-2 my-lg-0"
      >
        <input
          autocomplete="off"
          id="location-input"
          class="form-control mr-sm-2 barra input"
          type="search"
          placeholder="Find Location..."
          aria-label="Search"
        />
        <button class="input cerca" id="cerca" type="submit">Search</button>
      </form>
      <br />
      <div id="map" class="map"></div>
    </div>

    <div class="col-lg-5" id="build-1">
      <h2 style="color: white; margin-left: 100px;">Building {{ number }}</h2>
      <form autocomplete="off" style="color: white; margin-left: 100px;">
        <label class="inp">
          <input
            autocomplete="off"
            type="text"
            value=""
            id="nome"
            placeholder="&nbsp;"
          />
          <span class="label">Name</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input
            autocomplete="off"
            type="text"
            value=""
            id="tipo"
            placeholder="&nbsp;"
          />
          <span class="label">Type</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input
            autocomplete="off"
            type="text"
            id="altezza"
            placeholder="&nbsp;"
          />
          <span class="label">Height [m]</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input
            autocomplete="off"
            type="text"
            id="piani"
            placeholder="&nbsp;"
          />
          <span class="label">Levels</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input autocomplete="off" disabled type="text" placeholder="&nbsp;" />
          <span class="label">Area [m^2]</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <div class="row">
          <div class="col-lg-3">
            <label style="margin-left: 22px; margin-top:10px"
              >Electric Load</label
            >
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button id="electric-btn" class="btn">Upload</button>
              <img
                id="electric-prof"
                style="display:none;"
                src="https://img.icons8.com/dusk/30/000000/ms-excel.png"
                alt=""
              />
              <input id="electric-in" type="file" name="myfile" />
            </div>
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button class="btn">Calculate</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <label style="margin-left: 22px; margin-top:10px"
              >Cooling Load</label
            >
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button id="cooling-btn" class="btn">Upload</button>
              <img
                id="cooling-prof"
                style="display:none;"
                src="https://img.icons8.com/dusk/30/000000/ms-excel.png"
                alt=""
              />
              <input id="cooling-in" type="file" name="myfile" />
            </div>
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button class="btn">Calculate</button>
            </div>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-lg-6">
            <button
              id="take-screen"
              (click)="transferInput()"
              class="aggregate"
            >
              Enter new building
            </button>
          </div>
          <div class="col-lg-6">
            <button
              routerLink="/summarytab"
              (click)="transferInput()"
              class="aggregate"
              id="save-one-build"
            >
              Save and proceed
            </button>
          </div>
        </div>

        <!-- 
            <button routerLink = "/summarytab" (click)="transferInput()" >
                    TRANSOEJOGRDK
            </button> -->
      </form>
    </div>

    <div class="col-lg-5" id="build-2" style="display: none">
      <h2 style="color: white; margin-left: 100px;">Building 2</h2>
      <form autocomplete="off" style="color: white; margin-left: 100px;">
        <label class="inp">
          <input type="text" id="inp2" placeholder="&nbsp;" />
          <span class="label">Name</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input
            type="text"
            value=""
            id="type-info-val-2"
            placeholder="&nbsp;"
          />
          <span class="label">Type</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input type="text" id="height-info-val-2" placeholder="&nbsp;" />
          <span class="label">Height [m]</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input type="text" id="levels-info-val-2" placeholder="&nbsp;" />
          <span class="label">Levels</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <label class="inp">
          <input disabled type="text" placeholder="&nbsp;" />
          <span class="label">Area [m^2]</span>
          <span class="border"></span>
        </label>
        <br />
        <br />
        <div class="row">
          <div class="col-lg-3">
            <label style="margin-left: 22px; margin-top:10px"
              >Electric Load</label
            >
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button id="electric-btn-2" class="btn">Upload</button>
              <img
                id="electric-prof-2"
                style="display:none;"
                src="https://img.icons8.com/dusk/30/000000/ms-excel.png"
                alt=""
              />
              <input id="electric-in-2" type="file" name="myfile" />
            </div>
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button class="btn">Calculate</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <label style="margin-left: 22px; margin-top:10px"
              >Cooling Load</label
            >
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button id="cooling-btn-2" class="btn">Upload</button>
              <img
                id="cooling-prof-2"
                style="display:none;"
                src="https://img.icons8.com/dusk/30/000000/ms-excel.png"
                alt=""
              />
              <input id="cooling-in-2" type="file" name="myfile" />
            </div>
          </div>
          <div class="col-lg-2">
            <div style="margin-right: -50px;" class="upload-btn-wrapper">
              <button class="btn">Calculate</button>
            </div>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-lg-6">
            <button disabled style="opacity: 0.3" class="aggregate">
              Enter new building
            </button>
          </div>
          <div class="col-lg-6">
            <button id="displayTable" class="aggregate">
              Save and proceed
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- TABELLA CON DUE EDIFICI -->
</div>
<div style="display: none;" id="det">
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver3 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">Building name</th>
                  <th class="cell100 column2">Type</th>
                  <th class="cell100 column3">Height (m)</th>
                  <th class="cell100 column4">Levels</th>
                  <th class="cell100 column5">Profile</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                <tr class="row100 body">
                  <td class="cell100 column1">
                    <span id="build-name-1"></span>
                  </td>
                  <td class="cell100 column2">
                    <span id="build-type-1"></span>
                  </td>
                  <td class="cell100 column3">
                    <span id="build-height-1"></span>
                  </td>
                  <td class="cell100 column4">
                    <span id="build-levels-1"></span>
                  </td>
                  <td class="cell100 column5">
                    <button
                      type="button"
                      class="btn btn-primary btn-primary-c"
                      data-toggle="modal"
                      data-target="#exampleModalCenter"
                    >
                      <img
                        src="https://img.icons8.com/color/20/000000/combo-chart.png"
                      />
                    </button>
                  </td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">
                    <span id="build-name-2"></span>
                  </td>
                  <td class="cell100 column2">
                    <span id="build-type-2"></span>
                  </td>
                  <td class="cell100 column3">
                    <span id="build-height-2"></span>
                  </td>
                  <td class="cell100 column4">
                    <span id="build-levels-2"></span>
                  </td>
                  <td class="cell100 column5">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModalCenter2"
                    >
                      <img
                        src="https://img.icons8.com/color/20/000000/combo-chart.png"
                      />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <button
    routerLink="/inputsel-d"
    style="position: absolute; top:500px; left:1247px"
    class="aggregate"
  >
    Proceed
  </button>
  <button id="back-map-2" class="back-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="64"
      height="64"
      viewBox="0 0 172 172"
      style=" fill:#000000;"
    >
      <g
        fill="none"
        fill-rule="nonzero"
        stroke="none"
        stroke-width="1"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        stroke-dasharray=""
        stroke-dashoffset="0"
        font-family="none"
        font-weight="none"
        font-size="none"
        text-anchor="none"
        style="mix-blend-mode: normal"
      >
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path
            d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z"
            fill="#196eed"
          ></path>
          <path
            d="M34.66875,82.47266l47.43437,-29.12578c1.31016,-0.80625 2.98984,-0.83984 4.33359,-0.10078c1.34375,0.73906 2.18359,2.18359 2.18359,3.72891v58.01641c0,1.54531 -0.83984,2.95625 -2.18359,3.72891c-0.63828,0.36953 -1.37734,0.5375 -2.08281,0.5375c-0.77266,0 -1.54531,-0.20156 -2.21719,-0.63828l-47.43437,-28.89062c-1.27656,-0.77266 -2.04922,-2.15 -2.04922,-3.62813c-0.03359,-1.47812 0.73906,-2.85547 2.01563,-3.62812z"
            fill="#ffffff"
          ></path>
          <path
            d="M56.60547,77.09766h78.71016c2.25078,0 4.03125,1.81406 4.03125,4.03125v9.70859c0,2.25078 -1.81406,4.03125 -4.03125,4.03125h-78.71016c-2.25078,0 -4.03125,-1.81406 -4.03125,-4.03125v-9.70859c-0.03359,-2.21719 1.78047,-4.03125 4.03125,-4.03125z"
            fill="#ffffff"
          ></path>
        </g>
      </g>
    </svg>
  </button>
</div>

<!-- TABELLA CON UN SOLO EDIFICIO -->

<div style="display: none;" id="det-2">
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver3 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">Building name</th>
                  <th class="cell100 column2">Type</th>
                  <th class="cell100 column3">Height (m)</th>
                  <th class="cell100 column4">Levels</th>
                  <th class="cell100 column5">Profile</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                <tr class="row100 body">
                  <td class="cell100 column1">
                    <span id="build-s-name-1"></span>
                  </td>
                  <td class="cell100 column2">
                    <span id="build-s-type-1"></span>
                  </td>
                  <td class="cell100 column3">
                    <span id="build-s-height-1"></span>
                  </td>
                  <td class="cell100 column4">
                    <span id="build-s-levels-1"></span>
                  </td>
                  <td class="cell100 column5">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModalCenter"
                    >
                      <img
                        src="https://img.icons8.com/color/20/000000/combo-chart.png"
                      />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <button
    routerLink="/inputsel-s"
    style="position: absolute; top:500px; left:1247px"
    class="aggregate"
  >
    Proceed
  </button>
  <button id="back-map" class="back-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="64"
      height="64"
      viewBox="0 0 172 172"
      style=" fill:#000000;"
    >
      <g
        fill="none"
        fill-rule="nonzero"
        stroke="none"
        stroke-width="1"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        stroke-dasharray=""
        stroke-dashoffset="0"
        font-family="none"
        font-weight="none"
        font-size="none"
        text-anchor="none"
        style="mix-blend-mode: normal"
      >
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path
            d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z"
            fill="#196eed"
          ></path>
          <path
            d="M34.66875,82.47266l47.43437,-29.12578c1.31016,-0.80625 2.98984,-0.83984 4.33359,-0.10078c1.34375,0.73906 2.18359,2.18359 2.18359,3.72891v58.01641c0,1.54531 -0.83984,2.95625 -2.18359,3.72891c-0.63828,0.36953 -1.37734,0.5375 -2.08281,0.5375c-0.77266,0 -1.54531,-0.20156 -2.21719,-0.63828l-47.43437,-28.89062c-1.27656,-0.77266 -2.04922,-2.15 -2.04922,-3.62813c-0.03359,-1.47812 0.73906,-2.85547 2.01563,-3.62812z"
            fill="#ffffff"
          ></path>
          <path
            d="M56.60547,77.09766h78.71016c2.25078,0 4.03125,1.81406 4.03125,4.03125v9.70859c0,2.25078 -1.81406,4.03125 -4.03125,4.03125h-78.71016c-2.25078,0 -4.03125,-1.81406 -4.03125,-4.03125v-9.70859c-0.03359,-2.21719 1.78047,-4.03125 4.03125,-4.03125z"
            fill="#ffffff"
          ></path>
        </g>
      </g>
    </svg>
  </button>
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div
      class="modal-content"
      style="width:1000px; left:-233px; background-color: #212B46;"
    >
      <div class="modal-header" style="width:1000px; border-bottom: none">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button
          style="color:white"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width:1000px">
        <div
          #chart
          style="width: 980px;"
          id="buildA"
          class="chart-container-principal"
        ></div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="exampleModalCenter2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div
      class="modal-content"
      style="width:1000px; left:-233px; background-color: #212B46;"
    >
      <div class="modal-header" style="width:1000px; border-bottom: none">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button
          style="color:white"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width:1000px">
        <div
          #chart
          style="width: 980px;"
          id="buildB"
          class="chart-container-principal"
        ></div>
      </div>
    </div>
  </div>
</div>
