$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark: #76FF03; 
$blue-dark: #196eed;




#overlay {
  display: none;
  z-index: 1;
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  margin:0 auto;
  }


  
#overlay.attivoo{
  display: block;
}
.el-load{
  border: 1px solid;
padding: 3px;
 border-color: $blue-dark !important;
 color: $blue-dark !important;
 background-color:  #292A26 !important ;
margin-left: 30px;
border-radius: 5px;
width: 250px;
/* font-size: 15px; */

}

.calc-button{
  border: 1px solid;
  padding: 3px;
   border-color: $blue-dark !important;
   color: $blue-dark !important;
   background-color:  #292A26 !important ;
  margin-left: 20px;
  border-radius: 5px;


}

.map {
    width: 800px;
    height: 500px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px 0px $blue-dark
  }


 

  .control {
    position: absolute;
    left: 0;
    z-index: 1000;
  }

  .control.tilt {
    top: 0;
  }

  .control.rotation {
    top: 45px;
  }

  .control.zoom {
    top: 90px;
  }

  .control.zoom button{
    font-weight: normal;
  }

  .control button {
    width: 30px;
    height: 30px;
    margin: 15px 0 0 15px;
    border: 1px solid #999999;
    background: #ffffff;
    opacity: 0.6;
    border-radius: 5px;
    box-shadow: 0 0 5px #666666;
    font-weight: bold;
    text-align: center;
  }

  .control button:hover {
    opacity: 1;
    cursor: pointer;
  }

  
.osmb {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: default;
}

.osmb-viewport {
  width: 100%;
  height: 100%;
}

.osmb-attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1px 3px;
  background: rgba(255, 255, 255, 0.5);
  font: 11px sans-serif;
  z-index: 10;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .osmb-attribution {
    right: auto;
    left: 0;
  }
}

.osmb-attribution a {
  text-decoration: none;
  color: #0078A8;
}

.osmb-attribution a:visited {
  text-decoration: none;
  color: #0078A8;
}

.osmb-attribution a:hover {
  text-decoration: underline;
  color: #0078A8;
}

.osmb-popup {
  position: absolute;
}
.input-build-sel{
  font-size: 20px;
   background-color: $bg-dark;
   border: none;
   padding: 10px;
   color: white;
}


.button-save-build {
  background: $blue-dark;
  width: 180px;
  padding: 4px 0;
  position: absolute;
  left: 50%;
  top: 550px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;

  p {
    font-family: 'Roboto'; 
    text-align: center;
    margin-top:15px;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken($bg-dark, 20%);
    opacity: 0.4;
    bottom: -20px;
  }
}



.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: white;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}


.aggregate{
  background:$blue-dark;
  color:black;
  border:none;
  position:relative;
  height:50px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
}
.aggregate:hover{
  background:blue;
  color:#1AAB8A;
}
.aggregate:before,.aggregate:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: $blue-dark;
  transition:400ms ease all;
}
.aggregate:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;


}

.btn {
  border: 2px solid $blue-dark;
  color: $blue-dark;
  background-color: $card-color-dark;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper input[type=file]{
  cursor: pointer;
}







/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  background: $bg-dark;
margin-left: 100px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: $bg-dark;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
  background-color: #393939;
}

.table100.ver3 th {
  font-size: 15px;
  color: $blue-dark;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
}

.table100.ver3 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}


/*---------------------------------------------*/

.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}




#details-demand{
  margin-left:100px;
}
#details-cost{
  margin-left: 700px;
}

.el-load{
  border: 1px solid;
  padding: 3px;
 border-color: #00BAFF !important;
 color: #00BAFF !important;
 background-color:  #292A26 !important ;
margin-left: 30px;
border-radius: 5px;
/* font-size: 15px; */

}


input{
  border-color: $blue-dark;
}
.button-save-build {
  background: $blue-dark;
  width: 180px;
  height: 50px;
  padding: 4px 0;
  position: absolute;
  left: 80%;
  top: 650px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;

  p {
    font-family: 'Roboto'; 
    text-align: center;
    margin-top:10px;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken($bg-dark, 20%);
    opacity: 0.4;
    bottom: -20px;
  }
}


.chart-container-principal{

  height: 100%;
  // border: 1px solid $blue-dark;
  border-radius: 10px;
}

.back-btn{
  position: absolute;
  top: 489px;
  left: 1100px;
  background-color: transparent;
  border: none;
}