.input-cont {
  height: 100%;
  background-color: #212B46;
  border-radius: 10px;
  border: 1px solid #196eed;
  padding: 8px;
  box-shadow: 3px 3px 5px 0px #196eed;
  margin-right: 9px;
}

.form-1 {
  padding: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #196eed;
  color: #196eed;
  background-color: #212B46;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.titolo-inp {
  margin-top: 20px;
}

.inp {
  position: relative;
  margin: auto;
  width: 35%;
  max-width: 280px;
  font-size: 10px;
}

.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 10%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: white;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
  background: none;
  outline: none;
}

.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
  transform: scaleX(1);
}

.select-btn-1 {
  margin-top: 70px;
  color: white;
  background-color: #212B46;
  border-radius: 10px;
  border: 1px solid #196eed;
  padding: 10px;
  outline: none;
}

.select-btn-1:hover {
  cursor: pointer;
}

.select-btn-2 {
  margin-top: -50px;
  color: white;
  background-color: #212B46;
  border-radius: 10px;
  border: 1px solid #196eed;
  padding: 10px;
  outline: none;
}

.fuel-type {
  position: absolute;
  top: 55px;
  left: 34px;
}

.water-temp-type {
  position: absolute;
  top: 134px;
  left: 34px;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #196eed;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #196eed;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #196eed;
}

.range-slider__range:active::-moz-range-thumb {
  background: #196eed;
}

.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #196eed;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.disabled {
  opacity: 0.3;
}

.aggregate {
  background: #196eed;
  color: black;
  border: none;
  position: relative;
  height: 50px;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 10px;
}

.aggregate:hover {
  background: blue;
  color: #1AAB8A;
}

.aggregate:before, .aggregate:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #196eed;
  transition: 400ms ease all;
}

.aggregate:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

#profile {
  position: absolute;
  top: 63px;
  left: 215px;
  transform: scale(0.8, 0.8);
}

#elec-profile {
  position: absolute;
  top: 63px;
  left: 315px;
  transform: scale(0.8, 0.8);
}

.back-btn {
  position: absolute;
  top: 624px;
  left: 1100px;
  background-color: transparent;
  border: none;
}
