


<div style="margin-left:100px" class="row">
        <div class="col-lg-4">
        <div class="input-cont" style="height: 262px;">
                <form  autocomplete="off" class="form-1">
                    <span style="margin-left: 40%;">Boundary condition data</span>
                        <label>
                            <div class="row">
                                <div class="col-lg-4 titolo-inp">
                                    <span>Solar Profile [W/m<sup>2</sup>]</span>
                                </div>
                                <div class="col-lg-4" style="margin-top:25px;">
                                <div style="margin-right: -50px;" class="upload-btn-wrapper">
                                <button id="sol-btn" class="btn">Upload</button>
                                <img style="display:none;" id="sol-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                <input id="sol-in" type="file" name="myfile" multiple />
                            </div>
                            </div>
                            <div id="profile" style="display: none;">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterSolar">
                                    <img src="https://img.icons8.com/color/20/000000/combo-chart.png">
                            </button>                        
                        </div>
                            <div class="col-lg-3" style="margin-top:25px;">
                                    <div class="upload-btn-wrapper">
                                        <button class="btn" style="width: 146px;">Retrieve from map</button>
                                    </div>
                                    </div>
    
                        </div>
                        <div style="opacity: 0.3;"   class="row">
                                <div class="col-lg-4 titolo-inp">
                                    <span>Temperature [&deg;C]</span>
                                </div>
                                <div class="col-lg-4" style="margin-top:25px;">
                            <div style="margin-right: -50px;" class="upload-btn-wrapper">
                                <button disabled id="temp-btn" class="btn">Upload</button>
                                <img style="display:none;" id="temp-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                <input disabled id="temp-in" type="file" name="myfile" />
                            </div>
                            </div>
                            <div class="col-lg-4" style="margin-top:25px;">
                                    <div class="upload-btn-wrapper">
                                        <button disabled class="btn"style="width: 146px;">Retrieve from map</button>
                                    </div>
                                    </div>
                        </div>
                        <div style="opacity: 0.3;" class="row">
                                <div class="col-lg-4 titolo-inp">
                                    <span>Relative Humidity [%]</span>
                                </div>
                                <div class="col-lg-4" style="margin-top:25px;">
                            <div style="margin-right: -50px;" class="upload-btn-wrapper">
                                <button disabled id="hum-btn" class="btn">Upload</button>
                                <img style="display:none;" id="hum-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                <input disabled id="hum-in" type="file" name="myfile" />
                            </div>
                            </div>
                            <div class="col-lg-4" style="margin-top:25px;">
                                    <div class="upload-btn-wrapper">
                                        <button disabled class="btn" style="width: 146px;">Retrieve from map</button>
                                    </div>
                                    </div>
                        </div>
                        </label>
                </form>
        </div>
        </div>
        <div class="col-lg-4">
            <div class="input-cont" style="height: 262px;">
                <span style="position: absolute; top:15px; margin-left: 40%;">Assumptions</span>
                <span class="fuel-type">Fuel Type</span>
                    <select class="select-btn-1">
                            <option value="natural">Natural Gas</option>
                            <option value="oil">Oil</option>
                        <option value="opel">None</option>
                    </select>
                    <br>
                    <br>
                    <br>
                <span class="water-temp-type">Chilled Water</span>
                <br>
    
                <label class="inp" style="width: 60px;" >
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label" style="font-size: 13px;">TWS [&deg;C]</span>
                        <span class="border"></span>
                </label>
                <label class="inp" style="width: 60px; margin-left:30px">
                        <input type="text" id="inp" placeholder="&nbsp;">
                        <span class="label" style="font-size: 13px;">TWR [&deg;C]</span>
                        <span class="border"></span>
                </label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-cont">
                    <form  autocomplete="off">
                            <span style="margin-left: 40%;">Optimization Parameters</span>
                            <div class="row">
                            <div class="col-lg-6">
                                    <label class="inp" style="width: 100%;">
                                            <input (keyup)="onKey($event)" type="text" id="inp" placeholder="&nbsp;">
                                            <span class="label" style="font-size: 13px;">Electricity Price [$/kWh]</span>
                                            <span class="border"></span>
                                    </label>
                                </div>
                            <div class="col-lg-6" style="margin-top: 10px;">
                                <div class="upload-btn-wrapper">
                                    <button id="elec-price-btn" class="btn">Upload</button>
                                <img style="display:none;" id="elec-price-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                    <input id="elec-price-in" type="file" name="myfile" />
                                </div>
                            </div>
                        <div id="elec-profile" style="display: none;">
                                <button id="elec-prof" style="position: absolute; top:-27px; left:5px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterElec">
                                    <img src="https://img.icons8.com/color/20/000000/combo-chart.png">
                            </button>                        
                        </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-lg-6">
                                <label class="inp" style="width: 100%;">
                                        <input type="text" id="inp" placeholder="&nbsp;">
                                        <span class="label" style="font-size: 13px;">Electricity Cost [$/kWh]</span>
                                        <span class="border"></span>
                                </label>
                            </div>
                        <div class="col-lg-6" style="margin-top: 10px;">
                            <div class="upload-btn-wrapper">
                                <button id="elec-cost-btn" class="btn">Upload</button>
                                <img style="display:none;" id="elec-cost-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                <input id="elec-cost-in" type="file" name="myfile" />
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-lg-6">
                            <label class="inp" style="width: 100%;">
                                    <input type="text" id="inp" placeholder="&nbsp;">
                                    <span class="label" style="font-size: 13px;">Water Cost [$/m<sup>3</sup>]</span>
                                    <span class="border"></span>
                            </label>
                        </div>
                    <div class="col-lg-6" style="margin-top: 10px;">
                        <div class="upload-btn-wrapper">
                            <button id="wat-btn" class="btn">Upload</button>
                            <img style="display:none;" id="wat-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                            <input id="wat-in" type="file" name="myfile" />
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-6">
                        <label class="inp" style="width: 100%;">
                                <input type="text" id="inp" placeholder="&nbsp;">
                                <span class="label" style="font-size: 13px;">Chilled Water Buy [$/kWh]</span>
                                <span class="border"></span>
                        </label>
                    </div>
                    <div class="col-lg-6" style="margin-top: 10px;">
                            <div class="upload-btn-wrapper">
                                <button id="wat-buy-btn" class="btn">Upload</button>
                            <img style="display:none;" id="wat-buy-prof"src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                <input id="wat-buy-in" type="file" name="myfile" />
                            </div>
                        </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-6">
                        <label class="inp" style="width: 100%;">
                                <input type="text" id="inp" placeholder="&nbsp;">
                                <span class="label" style="font-size: 13px;">Chilled Water Sell [$/kWh]</span>
                                <span class="border"></span>
                        </label>
                    </div>
                    <div class="col-lg-6" style="margin-top: 10px;">
                            <div class="upload-btn-wrapper">
                                <button id="wat-sel-btn" class="btn">Upload</button>
                            <img id="wat-sel-prof" style="display:none;" src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                                <input id="wat-sel-in" type="file" name="myfile" />
                            </div>
                        </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-6">
                        <label class="inp" style="width: 100%;">
                                <input  type="text" id="inp" placeholder="&nbsp;">
                                <span class="label" style="font-size: 13px;">Fuel Cost [$/kg]</span>
                                <span class="border"></span>
                        </label>
                    </div>
                    <div class="col-lg-6" style="margin-top: 10px;">
                        <div class="upload-btn-wrapper">
                            <button id="fuel-btn" class="btn">Upload</button>
                            <img id="fuel-prof" style="display:none;" src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                            <input id="fuel-in" type="file" name="myfile" />
                        </div>
                    </div>
    
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-6">
                        <label class="inp" style="width: 100%;">
                                <input type="text" id="inp" placeholder="&nbsp;">
                                <span class="label" style="font-size: 13px;">Carbon Tax [$/ton]</span>
                                <span class="border"></span>
                        </label>
                    </div>
                    <div class="col-lg-6" style="margin-top: 10px;">
                        <div class="upload-btn-wrapper">
                            <button id="fuel-btn" class="btn">Upload</button>
                            <img id="fuel-prof" style="display:none;" src="https://img.icons8.com/dusk/30/000000/ms-excel.png" alt="">
                            <input id="fuel-in" type="file" name="myfile" />
                        </div>
                    </div>
    
    
                            </div>
                         
                           
                    </form>
            </div>
        </div>
    </div>
    
    <div style="margin-left:113px;margin-top: -88px;" class="row">
            <div class="input-cont" style="margin-top:-108px; height: 100%; width: 931px;">
        <div class="col-lg-8">
                <span style="margin-left: 40%;">Objective Function</span>
                <div id="range_slider" class="range-slider" style="margin-top: 10px;">
                    <input disabled id="range-slider__range" class="range-slider__range" type="range" value="100" min="0" max="100">
                    <span id="range-slider__value" class="range-slider__value">0</span>
                    <span style="position: absolute; top: 10px;left: 30px;">NPV</span>
                </div>
            </div> 
            <div class="col-lg-8">
                    <div class="range-slider"  style="margin-top: 30px;">
                        <input disabled class="range-slider__range disabled" type="range" value="0" min="0" max="100">
                        <span class="range-slider__value">0</span>
                        <span style="position: absolute; top: -20px;left: 30px;">CAPEX</span>
                    </div>
                </div>
                <div class="col-lg-8">
                        <div class="range-slider" style="margin-top: 30px;">
                            <input disabled class="range-slider__range disabled" type="range" value="0" min="0" max="100">
                            <span class="range-slider__value">0</span>
                            <span style="position: absolute; top: -20px;left: 30px;">CO2</span>
                        </div>
                    </div>
                    <div class="col-lg-8">
                            <div disabled class="range-slider" style="margin-top: 30px;">
                                <input class="range-slider__range disabled" type="range" value="0" min="0" max="100">
                                <span class="range-slider__value">0</span>
                                <span style="position: absolute; top: -20px;left: 30px;">LCOE</span>
                            </div>
                        </div>
                        <div class="col-lg-8">
                                <div disabled class="range-slider" style="margin-top: 30px;">
                                    <input class="range-slider__range disabled" type="range" value="0" min="0" max="100">
                                    <span class="range-slider__value">0</span>
                                    <span style="position: absolute; top: -20px;left: 30px;">OPEX</span>
                                </div>
                            </div>
                            <label disabled class="inp" style="width: 100px; position: absolute; top: 440px; left: 800px;">
                                    <input type="text" id="inp" placeholder="&nbsp;">
                                    <span class="label" style="font-size: 13px;">Interest Rate [%]</span>
                                    <span class="border"></span>
                            </label>
                            <label disabled class="inp" style="width: 100px; position: absolute; top: 540px; left: 800px;">
                                    <input type="text" id="inp" placeholder="&nbsp;">
                                    <span class="label" style="font-size: 13px;">Lifetime [yrs]</span>
                                    <span class="border"></span>
                            </label>
                            <button disabled style="position: absolute; top:610px; left:795px; opacity:0.3" class="aggregate">
                                    Default
                            </button>
                                
                            
        </div>
    
    
    <!-- <br>
        
    <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="1"
        max="100000"
        (change)="onSliderChange($event)" >
    </mat-slider> -->
    </div>
    
    
    <button id="next-1" routerLink = "/dragdrop-d" style="display:block;position: absolute;top:631px; left:1300px; transform: scale(1.5,1.5);" class="aggregate">Next</button>
    <button id="next-2"  routerLink = "/dragdrop-d2" style="display:none;position: absolute; top:631px; left:1300px; transform: scale(1.5,1.5);" class="aggregate">Next</button>
        
    <!-- modal solar -->
    
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenterSolar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="width:1000px; left:-233px; background-color: #212B46;">
            <div class="modal-header" style="width:1000px; border-bottom: none">
              <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
              <button style="color:white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="width:1000px">
                <div #chart style="width: 980px;" id="SolarProf" class="chart-container-principal">
                </div>
            </div>
    
          </div>
        </div>
      </div>
    
    <!-- modal electric -->
      
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenterElec" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="width:1000px; left:-233px; background-color: #212B46;">
            <div class="modal-header" style="width:1000px; border-bottom: none">
              <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
              <button style="color:white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="width:1000px">
                <div #chart style="width: 980px;" id="ElecProf" class="chart-container-principal">
                </div>
            </div>
    
          </div>
        </div>
      </div>
    
      <button routerLink = "/map-dashboard" id="back-map" class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="64" height="64"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z" fill="#196eed"></path><path d="M34.66875,82.47266l47.43437,-29.12578c1.31016,-0.80625 2.98984,-0.83984 4.33359,-0.10078c1.34375,0.73906 2.18359,2.18359 2.18359,3.72891v58.01641c0,1.54531 -0.83984,2.95625 -2.18359,3.72891c-0.63828,0.36953 -1.37734,0.5375 -2.08281,0.5375c-0.77266,0 -1.54531,-0.20156 -2.21719,-0.63828l-47.43437,-28.89062c-1.27656,-0.77266 -2.04922,-2.15 -2.04922,-3.62813c-0.03359,-1.47812 0.73906,-2.85547 2.01563,-3.62812z" fill="#ffffff"></path><path d="M56.60547,77.09766h78.71016c2.25078,0 4.03125,1.81406 4.03125,4.03125v9.70859c0,2.25078 -1.81406,4.03125 -4.03125,4.03125h-78.71016c-2.25078,0 -4.03125,-1.81406 -4.03125,-4.03125v-9.70859c-0.03359,-2.21719 1.78047,-4.03125 4.03125,-4.03125z" fill="#ffffff"></path></g></g></svg>
        </button>