$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark: #76FF03; 
$blue-dark: #196eed;

.input-cont{
    height: 100%;
    background-color: $card-color-dark;
    border-radius: 10px;
    border: 1px solid $blue-dark;
    padding: 8px;
    box-shadow: 3px 3px 5px 0px $blue-dark;
    margin-right: 9px;

}

.form-1{
    padding: 10px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;


  }
  
  .btn {
    border: 2px solid $blue-dark;
    color: $blue-dark;
    background-color: $card-color-dark;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.titolo-inp{
    margin-top: 20px;
}

.inp {
    position: relative;
    margin: auto;
    width: 35%;
    max-width: 280px;
    font-size: 10px;
  }
  .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 10%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: white;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: rgba(34,50,84,0.03);
  }
  .inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus {
    background: none;
    outline: none;
  }
  .inp input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
  }
  .inp input:focus + span + .border {
    transform: scaleX(1);
  }
  
  .select-btn-1{
    margin-top: 70px;
    color: white;
    background-color: $card-color-dark;
    border-radius: 10px;
    border: 1px solid $blue-dark;
    padding: 10px;
    outline: none;

  }

  .select-btn-1:hover{
    cursor: pointer;
  }
  .select-btn-2{
    margin-top: -50px;
    color: white;
    background-color: $card-color-dark;
    border-radius: 10px;
    border: 1px solid $blue-dark;
    padding: 10px;
    outline: none;
  }
  .fuel-type{
    position: absolute;
    top: 55px;
    left: 34px;
  }

  .water-temp-type{
    position: absolute;
    top: 134px;
    left: 34px;
  }






// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: $blue-dark !default;


// Reset


.range-slider {
  margin: 60px 0 0 0%;
}


// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
  
  // Focus state
  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
                  0 0 0 6px $teal;
    }
  }
}


// Range Label
.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

.disabled{
  opacity:0.3
}


.aggregate{
  background:$blue-dark;
  color:black;
  border:none;
  position:relative;
  height:50px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
}
.aggregate:hover{
  background:blue;
  color:#1AAB8A;
}
.aggregate:before,.aggregate:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: $blue-dark;
  transition:400ms ease all;
}
.aggregate:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
// .aggregate:hover:before,.aggregate:hover:after{
//   width:100%;
//   transition:800ms ease all;
// }



#profile{
  position: absolute;
  top: 63px;
  left: 215px;
  transform: scale(0.8, 0.8);
}

#elec-profile{
  position: absolute;
  top: 63px;
  left: 315px;
  transform: scale(0.8, 0.8);
}

.back-btn{
  position: absolute;
  top: 624px;
  left: 1100px;
  background-color: transparent;
  border: none;
}

