
$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark:  #76FF03; 
$blue-dark: #196eed;
$mainColor: rgb(129,154,169);
$bg: rgb(226,229,230);
$crimson: rgb(243,109,102);

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .title-drag{
    background-color: $card-color-dark;
    width: 550px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 6px -1px 5px 3px darken($bg-dark,6);
    margin-left:85px;
  }
  
  .example-list {
     border: dashed 1px $blue-dark;
    // min-height: 60px;
    background: transparent;
    border-radius: 4px;
    // overflow: hidden;
    // display: block;
    width: 140%;
    height:655px;
    margin-left:140px;
    margin-top: -80px;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    cursor: pointer

  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  






.el-bus-stor{
  position: absolute;
  top: 61px;
  left: 689px;
  transform: rotate(180deg);
  width: 1.3px;
  height: 39px;
  background: yellow;         
}



.menu-button {
    -webkit-transition: 0.2s;
    -moz-transition: 0.4s;
    transition: 0.2s;
    position: absolute;
    left: 250px;
    top: 100px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background-image: url("https://img.icons8.com/officel/60/000000/lightning-bolt.png");
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 14px;

    // color: #FFFFFF;
    // font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
  .menu-button:hover {
    // background: #d81558;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  }
  .menu-button div {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    line-height: 50px;
    // border-radius: 50%;
    color: #FFFFFF;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    position: absolute;
  }
  .menu-button div:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  }
  .menu-button div:nth-child(1) {
    -webkit-transition-delay: 0.0s;
    -moz-transition-delay: 0.0s;
    transition-delay: 0.1s;
    position: absolute;
    right: 110px;
    bottom: 100px;
    // background: #55acee;
  }
  .menu-button div:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    // background: #55acee;
  }
  .menu-button div:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    // background: #dc4e41;
  }
  .menu-button div:nth-child(4) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    // background: #3F3F3F;
  }

  .menu-button div:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    // background: #3F3F3F;
  }


  .menu-button:hover div {
    opacity: 1;
    width: 0;
    height: 0;
  }
  .menu-button:hover div div:nth-child(1) {
    right: 70px;
    bottom: 10px;
  }
  .menu-button:hover div div:nth-child(1):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    transform: scale(1.1,1.1)

  }
  .menu-button:hover div div:nth-child(2) {
    right: -25px;
    bottom: 73px;
  }
  .menu-button:hover div div:nth-child(2):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    transform: scale(1.1,1.1)

  }
  .menu-button:hover div div:nth-child(3) {
    right: -120px;
    bottom: 5px;
  }
  .menu-button:hover div div:nth-child(3):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    transform: scale(1.1,1.1)
  }
  .menu-button:hover div div:nth-child(4) {
    right: -68px;
    bottom: -70px;
}
  
  .menu-button:hover div div:nth-child(5):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    transform: scale(1.1,1.1);
  }
  .menu-button:hover div div:nth-child(5) {
    right: 24px;
    bottom: -70px;
}
  
  .menu-button:hover div div:nth-child(5):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    transform: scale(1.1,1.1);
  }
  
  /*---FOR MOBILE VIEW---*/
  @media screen and (max-width: 400px) {
    h1 {
      padding: 15px;
      font-size: 25px;
    }
}





.menu-button-2 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.4s;
  transition: 0.2s;
  position: absolute;
  left: 250px;
  top: 250px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-image: url("https://img.icons8.com/plasticine/90/000000/winter.png");
    background-repeat: no-repeat;
    background-position-x: -4px;
    background-position-y: -4px;

  // color: #FFFFFF;
  // font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-button-2:hover {
  // background: #d81558;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button-2 div {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  // border-radius: 50%;
  color: #FFFFFF;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
  position: absolute;
}
.menu-button-2 div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button-2 div:nth-child(1) {
  -webkit-transition-delay: 0.0s;
  -moz-transition-delay: 0.0s;
  transition-delay: 0.1s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #55acee;
}
.menu-button-2 div:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #55acee;
}
.menu-button-2 div:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #dc4e41;
}
.menu-button-2 div:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #3F3F3F;
}

.menu-button-2:hover div {
  opacity: 1;
  width: 0;
  height: 0;
}
.menu-button-2:hover div div:nth-child(1) {
  right: 160px;
  bottom: 60px;
}
.menu-button-2:hover div div:nth-child(1):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)

}
.menu-button-2:hover div div:nth-child(2) {
  right: 116px;
  bottom: 212px;
}

.menu-button-2:hover div div:nth-child(2):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)

}
.menu-button-2:hover div div:nth-child(3) {
  right: -49px;
  bottom: 60px;
}
.menu-button-2:hover div div:nth-child(3):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)
}
.menu-button-2:hover div div:nth-child(4) {
  right: -95px;
  bottom: 6px;
}




.menu-button-3 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.4s;
  transition: 0.2s;
  position: absolute;
  left: 250px;
  top: 250px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-image: url("https://img.icons8.com/flat_round/64/000000/fire-element.png");
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 8px;

  // color: #FFFFFF;
  // font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-button-3:hover {
  // background: #d81558;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button-3 div {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  // border-radius: 50%;
  color: #FFFFFF;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
  position: absolute;
}
.menu-button-3 div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button-3 div:nth-child(1) {
  -webkit-transition-delay: 0.0s;
  -moz-transition-delay: 0.0s;
  transition-delay: 0.1s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #55acee;
}
.menu-button-3 div:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #55acee;
}
.menu-button-3 div:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #dc4e41;
}
.menu-button-3 div:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #3F3F3F;
}

.menu-button-3:hover div {
  opacity: 1;
  width: 0;
  height: 0;
}
.menu-button-3:hover div div:nth-child(1) {
  right: 125px;
  bottom: 70px;
}
.menu-button-3:hover div div:nth-child(1):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)

}
.menu-button-3:hover div div:nth-child(2) {
  right: 50px;
  bottom: 125px;
}
.menu-button-3:hover div div:nth-child(2):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)

}
.menu-button-3:hover div div:nth-child(3) {
  right: 60px;
  bottom: -30px;
}
.menu-button-3:hover div div:nth-child(3):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)
}
.menu-button-3:hover div div:nth-child(4) {
  right: -105px;
  bottom: 6px;
}


.menu-button-4 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.4s;
  transition: 0.2s;
  position: absolute;
  left: 250px;
  top: 250px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-image: url("https://img.icons8.com/officel/70/000000/cooker-hood.png");
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 8px;

  // color: #FFFFFF;
  // font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-button-4:hover {
  // background: #d81558;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button-4 div {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  // border-radius: 50%;
  color: #FFFFFF;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
  position: absolute;
}
.menu-button-4 div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.menu-button-4 div:nth-child(1) {
  -webkit-transition-delay: 0.0s;
  -moz-transition-delay: 0.0s;
  transition-delay: 0.1s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #55acee;
}
.menu-button-4 div:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #55acee;
}
.menu-button-4 div:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #dc4e41;
}
.menu-button-4 div:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  // background: #3F3F3F;
}

.menu-button-4:hover div {
  opacity: 1;
  width: 0;
  height: 0;
}
.menu-button-4:hover div div:nth-child(1) {
  right: 50px;
  bottom: -60px;
}
.menu-button-4:hover div div:nth-child(1):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.1,1.1)

}


























.contenitore-drop{
    margin-right: 30px;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid $blue-dark;
}






        .modal-body{
            font-size: 15px;
            color:black;
        }

        .modal-title {
            color: black;
           
        }

        .modal-header-pv{
            background-color: yellow;
        }

        .modal-header-wind {
            background-color: grey;

        }

 
        .optim-container{
            position: absolute;
            top:300px;
            left:1200px;
            transform: scale(1.5,1.5);
           
            
        }
        


        .optim:hover
        {
            transform: translate(-50%,-50%) perspective(500px);
            text-shadow: -6px 3px 2px rgba(0,0,0,.2);
        }
        .optim:before
        {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, #00ACFA, transparent);
            transition: .5s;
        }
        .optim:hover:before
        {
            left: 100%;
        }        



        .modal-body{
            font-size: 15px;
            color:black;
        }

        .modal-title {
            color: black;
           
        }

        .modal-header-pv{
            background-color: yellow;
        }

        .modal-header-wind {
            background-color: grey;

        }


.preview{
    margin-left: 102px;
    margin-top: 35px;
    transform: translate(-50%,-50%) perspective(500px);
    transform: scale(2,2);

	text-align: center;
	text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #00ACFA);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}


  .optim {
    
    margin-left: 102px;
    margin-top: 35px;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #00ACFA);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
.optim:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
.optim:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #00ACFA, transparent);
	transition: .5s;
}
.optim:hover:before
{
	left: 100%;
}


.evaluate {
    position: absolute;
    top: 550px;
    left:1300px;
    border: none;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #00ACFA);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
.evaluate:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
.evaluate:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #00ACFA, transparent);
	transition: .5s;
}
.evaluate:hover:before
{
	left: 100%;
}









 


                                      .slider-opt {
                                        -webkit-appearance: none;  /* Override default CSS styles */
                                        appearance: none;
                                        width:180px; /* Full-width */
                                        height: 10px; /* Specified height */
                                        background: #d3d3d3; /* Grey background */
                                        outline: none; /* Remove outline */
                                        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
                                        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                                        transition: opacity .2s;
                                        
                                      
                                      }
                                      
                                      /* Mouse-over effects */
                                      .slider-opt:hover {
                                        opacity: 1; /* Fully shown on mouse-over */
                                      }
                                      
                                      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
                                      .slider-opt::-webkit-slider-thumb {
                                        -webkit-appearance: none; /* Override default look */
                                        appearance: none;
                                        width: 25px; /* Set a specific slider handle width */
                                        height: 25px; /* Slider handle height */
                                        background: #00ACFA; /* Green background */
                                        cursor: pointer; /* Cursor on hover */
                                        border-radius: 30px;
                                 
                                      }
                                      
                                      .slider-opt::-moz-range-thumb {
                                        width: 55px; /* Set a specific slider handle width */
                                        height: 55px; /* Slider handle height */
                                        background: red; /* Green background */
                                        cursor: pointer; /* Cursor on hover */
                                      }
                                    .slider-range-opt{
                                      position: absolute;
                                    list-style: none;
                                    word-spacing: 30px;
                                    top: -25px;
                                    left: -11px;
                                    margin-left: -29px;
                                    
                                    }
                                    
                                    .slid-titolo-opt{
                                      position: absolute;
                                    
                                    font-size: 13px;
                                    left:90px;
                                    top:110px;
                                    }

.optim-container{
    position: absolute;
    top:300px;
    left:1200px;
    transform: scale(1.5,1.5);
   
    
}


.modale{
    pointer-events: none;
    
}





.prev{
  position: absolute;
  top:450px;
  left:-330px;
}




.solar-g{
  position: absolute;
  top:200px;
  left:900px;
}



.el-bus{
  background-image: radial-gradient(circle, transparent, transparent, yellow 99%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: 900px;
}

.heat-bus{
  background-image: radial-gradient(circle, transparent, transparent, red 99%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 510px;
  left: 700px;
}

.cool-bus{
  background-image: radial-gradient(circle, transparent, transparent, blue 99%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 510px;
  left: 1100px;
}

.solar-p{
  position: absolute;
  top:70px;
  left:956px
}

.solToEl{
  width: 2px;
  height: 39px;
  background-color: yellow;
  position: absolute;
  top: 80px;
  left: 41px;
}

.wind{
  position: absolute;
  top: 231px;
  left: 754px;
}

.windToEl{
  width: 61px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: 56px;
  left: 82px;
}

.battery{
  position: absolute;
  top: 235px;
  left: 1154px;
}

.batToEl{
  width: 61px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: 49px;
  left: -52px;
}

.chp{
  position: absolute;
  top: 395px;
  left: 723px;
}

.elToBoil{
  width: 158px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: -41px;
  left: 27px;
  transform: rotate(-30deg);
}
.elToChp{
  width: 2px;
  height: 93px;
  background-color: yellow;
  position: absolute;
  top: -7px;
  left: 246px;
  
}

.absToCool{
  width: 75px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 610px;
  left: 1024px;
}

.boilToHeat{
  width: 2px;
  height: 68px;
  background-color: red;
  position: absolute;
  top: 53px;
  left: 34px;
}

.heatstor{
  position: absolute;
  top: 386px;
  left: 736px;
}

.elToHeatstor{
  width: 145px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: -40px;
  left: 24px;
  transform: rotate(-30deg);
}
.HeatstorToHeat{
  width: 2px;
  height: 55px;
  background-color: red;
  position: absolute;
  top: 65px;
  left: 29px;
}

.coldstor{
  position: absolute;
  top: 398px;
  left: 1150px;
}

.elToColdstor{
  width: 109px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: -29px;
  left: -68px;
  transform: rotate(30deg);
}

.ColdstorToCool{
  width: 2px;
  height: 44px;
  background-color: blue;
  position: absolute;
  top: 68px;
  left: 36px;
}

.elToAbs{
  width: 39px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: 406px;
  left: 1020px;
  transform: rotate(71deg);
}

.elToVap{
  width: 2px;
  height: 57px;
  background-color: yellow;
  position: absolute;
  top: 372px;
  left: 1065px;
  transform: rotate(-32deg);
}



.vapToCold{
  width: 57px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 500px;
  left: 1103px;
  transform: rotate(55deg);
 
}


.absToCold{
  width: 89px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 524px;
  left: 1043px;
  transform: rotate(71deg);
}


.lightning{
  position: absolute;
  top: 257px;
  left: 967px;

}

.flame{
  position: absolute;
  top: 560px;
  left: 760px;
}

.ice{
  position: absolute;
  top: 512px;
  left: 1114px;
}

.lista-2{
  position: absolute;
  top: -147px;
  left: -500px;

}

.button-graph{
  outline: none;
  background-color: transparent;
  border:none;
}


.button-graph:hover{
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

}

.wizard-btn{

  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
  background: linear-gradient(90deg, $blue-dark, $card-color-dark);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  letter-spacing: 1px;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2);
  position: absolute;
  top:330px;
  left:320px
}



.abs-chiller-g{
  position: absolute;
  top: 574px;
  left: 936px;
}

.vap-chiller-g{
  position: absolute;
  top: 418px;
  left: 1057px;
}

.chpToAbs{
  width: 2px;
  height: 56px;
  background-color: red;
  position: absolute;
  top: 525px;
  left: 970px;
}

.cooling-storage{
  transform: scale(0.5,0.5);

}

.coldstor-graph{
transform: scale(0.42,0.42);
position:absolute;
top: -74px;
left: -73px;
}

.chp-g{
  position: absolute;
  top: 319px;
  left: 1021px;
}


.back-btn{
  position: absolute;
  top: 449px;
  left: -420px;
  background-color: transparent;
  border: none;
}

.database{
  background-color: $sidebar-dark;
  border-radius: 10px;
  position: absolute;
  top:70px;
  left:1200px;
  color: $blue-dark;
  outline: none;
  border: 1px solid $blue-dark;
  opacity: 0.5;
}

.database:hover{
  cursor: pointer;
}

.chp-blue-g{
  position: absolute;
  top: 366px;
  left: 804px;
}

.ChpToEl{
  width: 87px;
  height: 2px;
  background-color: yellow;
  position: absolute;
  top: 371px;
  left: 845px;
  transform: rotate(119deg);
}


