
<button type="button" class="database">Database</button>


<img class="lightning" src="https://img.icons8.com/officel/70/000000/lightning-bolt.png">
<img class="flame" src="https://img.icons8.com/flat_round/90/000000/fire-element.png">
<img class="ice" src="https://img.icons8.com/plasticine/180/000000/winter.png">
    
    <h3 class="title-drag">Select the components for optimization</h3>


      <div class="row">
          <div class="col-lg-4">
            <div class="menu-button">
                <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="drop($event)"(cdkDropEntered)="entered($event)" (cdkDropExited)="exited($event)"
                >
         
              
                    <div id="solar" cdkDrag><img src="https://img.icons8.com/officel/80/000000/solar-panel.png"></div>
                    <div id="wind" cdkDrag><img src="https://img.icons8.com/officel/80/000000/wind-turbine.png"></div>
                    <div id="battery" cdkDrag><img src="https://img.icons8.com/cotton/80/000000/car-battery.png"></div>
                    <div id="chp"  cdkDrag><img src="./assets/img/chp_icon.png"></div>
                    <div id="chp-blue" cdkDrag><img src="./assets/img/chp_icon_blue.png"></div>

              
              
                </div>
        </div>

        <div style="position: absolute; top:300px;" class="menu-button-2">

            <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"(cdkDropEntered)="entered($event)" (cdkDropExited)="exited($event)"
            >
     
          
                <!-- <div id="elchiller" cdkDrag><img src="https://img.icons8.com/plasticine/100/000000/fan-speed.png"></div> -->
                <div id="abs-chiller" cdkDrag><img class="abs-chiller" src="./assets/img/absChiller.png"></div>
                <div id="cooling-storage" cdkDrag><img class="cooling-storage" src="./assets/img/tesIce.png"></div>
                <div id="vap-chiller"  cdkDrag><img src="./assets/img/vapChiller.png"></div>

          
          
            </div>
    </div>



    <div style="position: absolute; top: 197px; left:450px;" class="menu-button-3">

        <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)"(cdkDropEntered)="entered($event)" (cdkDropExited)="exited($event)"
        >
 
      
            <!-- <div id="elboiler" cdkDrag><img src="https://img.icons8.com/dusk/70/000000/water-heater.png"></div> -->
            <div id="heatstor" cdkDrag><img src="https://img.icons8.com/dusk/64/000000/heating-radiator.png"></div>


      
      
        </div>
</div>

    </div>
    
      
      <div class="col-lg-4" style="margin-right:200px;" >
        <div 
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          (cdkDropEntered)="entered($event)" (cdkDropExited)="exited($event)" >
          <div class="example-box" *ngFor="let item of done" cdkDrag style="visibility: hidden">{{item}}</div>


          <button routerLink="/inputsel" id="back-map" class="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="64" height="64"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z" fill="#196eed"></path><path d="M34.66875,82.47266l47.43437,-29.12578c1.31016,-0.80625 2.98984,-0.83984 4.33359,-0.10078c1.34375,0.73906 2.18359,2.18359 2.18359,3.72891v58.01641c0,1.54531 -0.83984,2.95625 -2.18359,3.72891c-0.63828,0.36953 -1.37734,0.5375 -2.08281,0.5375c-0.77266,0 -1.54531,-0.20156 -2.21719,-0.63828l-47.43437,-28.89062c-1.27656,-0.77266 -2.04922,-2.15 -2.04922,-3.62813c-0.03359,-1.47812 0.73906,-2.85547 2.01563,-3.62812z" fill="#ffffff"></path><path d="M56.60547,77.09766h78.71016c2.25078,0 4.03125,1.81406 4.03125,4.03125v9.70859c0,2.25078 -1.81406,4.03125 -4.03125,4.03125h-78.71016c-2.25078,0 -4.03125,-1.81406 -4.03125,-4.03125v-9.70859c-0.03359,-2.21719 1.78047,-4.03125 4.03125,-4.03125z" fill="#ffffff"></path></g></g></svg>
                </button>

          <form class="prev">
                <button routerLink = "/res-d2" class="optim" id="preview">Optimize</button>
            </form> 

               
          <form style="margin-left: 230px;" class="prev">
            <button routerLink = "/res-d2" class="optim" id="preview">Wizard</button>
        </form> 

         <div class="lista-2">  
            <div class="el-bus"></div>
            <div class="heat-bus"></div>
            <div class="cool-bus"></div>
            
            
            <button style="display: none;" id="solar-g" class="solar-p button-graph" ><img src="https://img.icons8.com/officel/80/000000/solar-panel.png">
                <div class="solToEl"></div>
            </button>
            
            
            <button style="display: none;" id="wind-g" class="wind button-graph"><img src="https://img.icons8.com/officel/80/000000/wind-turbine.png">
                <div class="windToEl"></div>
            </button>
            
            <button style="display: none;" id="battery-g" class="battery button-graph"><img src="https://img.icons8.com/cotton/80/000000/car-battery.png">
                <div class="batToEl"></div>
            </button>
            
            <button style="display:none" id="chp-g" class="chp button-graph"><img  style="transform: rotateY(180deg);position: absolute; top:42px; left:173px" src="./assets/img/chp_icon.png">
                <div class="elToChp"></div>
            </button>
            
            <button style="display: none;" id="heatstor-g" class="heatstor button-graph"><img src="https://img.icons8.com/dusk/64/000000/heating-radiator.png">
            <div class="elToHeatstor"></div>
            <div class="HeatstorToHeat"></div>
            </button>
            
            <button style="display: none;" id="cooling-storage-g" class="coldstor button-graph"><img class="coldstor-graph" src="./assets/img/tesIce.png">
                <!-- <div class="elToColdstor"></div> -->
                <div class="ColdstorToCool"></div>
            </button>

            <button style="display: none;" id="abs-chiller-g" class="button-graph"><img class="abs-chiller-g" src="./assets/img/absChiller.png">
                <div class="chpToAbs"></div>
                <div class="absToCool"></div>

            </button>

            <button style="display: none;" id="vap-chiller-g" class="button-graph"><img class="vap-chiller-g" src="./assets/img/vapChiller.png">
                <div class="elToVap"></div>
                <div class="vapToCold"></div>
            </button> 

            <button id="chp-blue-g" style="display:none" class="button-graph"><img class="chp-blue-g" src="./assets/img/chp_icon_blue.png">
                <div class="ChpToEl"></div>
            </button> 



        </div> 
            
</div>
</div>
      </div>

