<!-- <h3 class="title-drag">Optimization Results</h3> -->

<div id="drag" style="transform: scale(0.9,0.9);" class="contenitore-optim">
  <img
    class="lightning"
    src="https://img.icons8.com/officel/70/000000/lightning-bolt.png"
  />
  <img
    class="flame"
    src="https://img.icons8.com/flat_round/90/000000/fire-element.png"
  />
  <img
    class="ice"
    src="https://img.icons8.com/plasticine/180/000000/winter.png"
  />

  <div class="lista-2">
    <div class="el-bus"></div>
    <div class="heat-bus"></div>
    <div class="cool-bus"></div>

    <button
      type="button"
      data-toggle="modal"
      data-target="#ModalSolar"
      id="solar-g"
      class="solar-p button-graph"
    >
      <img src="https://img.icons8.com/officel/80/000000/solar-panel.png" />
      <div class="solToEl"></div>
    </button>

    <!--       
      <button disabled style="opacity:0.3" id="wind-g" class="wind button-graph"><img src="https://img.icons8.com/officel/80/000000/wind-turbine.png">
          <div class="windToEl"></div>
      </button> -->

    <button
      id="battery-g"
      class="battery button-graph"
      data-toggle="modal"
      data-target="#ModalBat"
    >
      <img src="https://img.icons8.com/cotton/80/000000/car-battery.png" />
      <div class="batToEl"></div>
    </button>

    <button
      data-toggle="modal"
      data-target="#ModalChp"
      id="chp-g"
      class="chp button-graph"
    >
      <img
        style="transform: rotateY(180deg);position: absolute; top:42px; left:173px"
        src="./assets/img/chp_icon.png"
      />
      <div class="elToChp"></div>
    </button>

    <!--   
      <button  id="heatstor-g" style="opacity: 0.2;" disabled class="heatstor button-graph"><img src="https://img.icons8.com/dusk/64/000000/heating-radiator.png">
      <div class="elToHeatstor"></div>
      <div class="HeatstorToHeat"></div>
      </button> -->

    <button
      disabled
      style="opacity:0.3"
      type="button"
      data-toggle="modal"
      data-target="#ModalColStor"
      id="cooling-storage-g"
      class="coldstor button-graph"
    >
      <img class="coldstor-graph" src="./assets/img/tesIce.png" />
      <!-- <div class="elToColdstor"></div> -->
      <div class="ColdstorToCool"></div>
    </button>
  </div>

  <button
    type="button"
    data-toggle="modal"
    data-target="#ModalChp"
    id="abs-chiller-g"
    class="button-graph"
  >
    <img class="abs-chiller-g" src="./assets/img/absChiller.png" />
    <div class="chpToAbs"></div>
    <div class="absToCool"></div>
  </button>

  <button
    type="button"
    data-toggle="modal"
    data-target="#ModalVap"
    id="vap-chiller-g"
    class="button-graph"
  >
    <img class="vap-chiller-g" src="./assets/img/vapChiller.png" />
    <div class="elToVap"></div>
    <div class="vapToCold"></div>
  </button>
</div>

<!-- Modal SOLAR-->
<div
  class="modal fade"
  id="ModalSolar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalSolar"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #212B46;;">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="color: white;"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color: white;" class="modal-body">
        Mitsubishi-MLT250HC-Mono <br />

        <table class="customers">
          <tr>
            <th>Number of Panels</th>

            <th>CAPEX [$]</th>
          </tr>

          <tr>
            <td>2500</td>

            <td>468746</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal BATTERY-->
<div
  class="modal fade"
  id="ModalBat"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalBat"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #212B46;;">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="color: white;"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color: white;" class="modal-body">
        Commercial&Industrial-redT <br />
        <table class="customers">
          <tr>
            <th>CAPACITY [kWh]</th>
            <th>TYPE</th>
            <th>CAPEX [$]</th>
          </tr>

          <tr>
            <td>300</td>
            <td>VRB</td>
            <td>238500</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal CHP-->
<div
  class="modal fade"
  id="ModalChp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalChp"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #212B46;;">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="color: white;"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color: white;" class="modal-body">
        CATERPILLAR-CG170-20 <br />

        <table class="customers">
          <tr>
            <th>PGE [kW]</th>
            <th>ETA [-]</th>
            <th>QAC [kW]</th>
            <th>COP [-]</th>
            <th>CAPEX CHP [$]</th>
          </tr>

          <tr>
            <td>2000.00</td>
            <td>0.440</td>
            <td>440.80</td>
            <td>26.06</td>
            <td>2442300</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal COOLSTOR-->
<div
  class="modal fade"
  id="ModalColStor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalColStor"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #212B46;;">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="color: white;"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color: white;" class="modal-body">
        Number of TES: 1<br />
        <hr />
        TES #1: <br />

        <table class="customers">
          <tr>
            <th>Size [RTh]</th>
            <th>CAPEX [$]</th>
          </tr>

          <tr>
            <td>500</td>
            <td>60000</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal VAP-->
<div
  class="modal fade"
  id="ModalVap"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalVap"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #212B46;;">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="color: white;"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color: white;" class="modal-body">
        Number of VCCH: 1<br />
        <hr />
        VCCH #1: <br />

        <table class="customers">
          <tr>
            <th>Qch [RT]</th>
            <th>COP [-]</th>
            <th>CAPEX [$]</th>
          </tr>

          <tr>
            <td>750</td>
            <td>6.16</td>
            <td>192024</td>
          </tr>
        </table>
      </div>
      <!-- Modal VAP-->
      <div
        class="modal fade"
        id="ModalVap"
        tabindex="-1"
        role="dialog"
        aria-labelledby="ModalVap"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="background-color: #212B46;;">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                style="color: white;"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div style="color: white;" class="modal-body">
              Carrier-HFC-134a-Water cooled-centrifugal <br />
              <br />
              <table class="customers">
                <tr>
                  <th>Qch [RT]</th>
                  <th>COP [-]</th>
                  <th>CAPEX [$]</th>
                </tr>

                <tr>
                  <td>750</td>
                  <td>6.16</td>
                  <td>162024</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul style="margin-left:100px;" class="nav nav-tabs nav-tabs-custom">
  <li class="nav-item">
    <button class="nav-link active nav-link-custom" id="dragdrop">
      OPTIMIZATION
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link nav-link-custom" id="elect-load">
      ELECTRIC PROFILES
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link nav-link-custom" id="cool-load">
      COOLING PROFILES
    </button>
  </li>

  <li class="nav-item">
    <button class="nav-link nav-link-custom" id="net-pv">NPV</button>
  </li>
  <li class="nav-item">
    <button class="nav-link nav-link-custom" id="c-net-pv">
      SENSITIVITY ANALYSIS
    </button>
  </li>
  <li class="nav-item">
    <a
      class="nav-link nav-link-custom download"
      href="./assets/report.pdf"
      download
      ><img
        src="https://img.icons8.com/ultraviolet/30/000000/export-pdf.png"
      />DOWNLOAD REPORT</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link nav-link-custom download" id="download-pdf" download
      ><img
        src="https://img.icons8.com/ultraviolet/30/000000/export-pdf.png"
      />DOWNLOAD PDF</a
    >
  </li>
</ul>

<button id="download">download pdf</button>

<div id="e-load" style="width:1000px; margin-left:-50px; display: none;">
  <div
    #chart
    style="width: 980px;"
    id="electric"
    class="chart-container-principal"
  ></div>
</div>

<div id="c-load" style="width:1000px; margin-left:-50px;display: none; ">
  <div
    #chart
    style="width: 980px;"
    id="cooling"
    class="chart-container-principal"
  ></div>
</div>
<div class="bordo"></div>

<div id="npv" style="width:1000px; margin-left:-50px; display: none;">
  <div
    #chart
    style="width: 980px;"
    id="net"
    class="chart-container-principal"
  ></div>
</div>

<div id="c-npv" style="width:1000px; margin-left:-50px; display: none;">
  <div
    #chart
    style="width: 980px;"
    id="cnpv"
    class="chart-container-principal"
  ></div>
</div>

<img
  id="im-titolo"
  style="display: none;"
  src="../../assets/img_report/titolo.PNG"
  alt=""
/>
