#sidebarCollapse.coll-attivo {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 200;
  outline: none;
  border: none;
}

#sidebarCollapse {
  /*  il bottone di attivazione sidebar */
  color: white;
  background: transparent;
  transform: scale(1.9, 1.9);
  transition: margin-left 0.4s;
  outline: none;
  border: none;
  margin-left: 30px;
}

#sidebarCollapse.active {
  margin-left: 150px;
}

#bell {
  position: absolute;
  top: 15px;
  left: 1100px;
  transform: scale(1.5, 1.5);
  color: white;
}

.badge-light {
  color: white;
  background-color: #196eed;
  font-size: 7px;
}

.navbar-custom {
  height: 45px;
  background: #151C2F;
  transition: all 0.4s;
  margin-left: 70px;
  width: 1430;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 5px solid #196eed;
}

#welcome {
  margin-left: 1130px;
}

#welcome.activ {
  margin-left: 1170px;
}

#welcome-custom {
  color: #196eed;
}

.btn-user {
  background: transparent;
  border: none;
  margin-top: -10px;
}

.dropdown-toggle-custom::after {
  margin-left: 1.255em;
}

.dropdown-menu-custom {
  left: -89px;
  background-color: darkgray;
}

.btn-user:not(:disabled):not(.disabled).active, .btn-user:not(:disabled):not(.disabled):active, .show > .btn-user.dropdown-toggle {
  color: white;
  background-color: none;
  border-color: none;
  background: none;
  outline: none;
}

#user-icon {
  transform: scale(2, 2);
  color: white;
  margin-top: 18px;
}

#dropdownMenuButtonUser:focus {
  outline: none !important;
  border: none !important;
}

.dropdown-toggle::after {
  color: white !important;
}

.dropdown-menu-custom.show {
  background-color: #196eed;
}

.dropdown-item-custom:hover {
  color: blue;
  background-color: transparent;
}
