

$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark:  #76FF03; 
$blue-dark: #196eed;

#sidebarCollapse.coll-attivo {
  position: absolute;
  top:10px;
  left:50px;
  z-index: 200;
  outline: none;
  border:none;
}

#sidebarCollapse{ /*  il bottone di attivazione sidebar */
  color: white;
  background: transparent;
  transform: scale(1.9,1.9);
  transition: margin-left 0.4s;
  outline: none;
  border:none;
  margin-left: 30px;
}

  #sidebarCollapse.active{ // anche il bottonse si spostera un po al click
    margin-left: 150px;

} 






#bell{
  position: absolute;
  top:15px;
  left:1100px;
  transform: scale(1.5,1.5);
  color: white;
}

.badge-light {
  color: white;
  background-color: $blue-dark;
  font-size: 7px;
}

.navbar-custom {
  height:45px;
  // background: #4CB050;
  background:$bg-dark;
  transition: all 0.4s;
  margin-left: 70px;
  width: 1430;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 5px solid $blue-dark;
}

// .navbar.active{ // quando premi il pulsante per rimpicciolire la sidebar
//   margin-left: 70px;
//   transition: all 0.4s;
// }

#welcome{
  margin-left: 1130px;
}
#welcome.activ{
  margin-left:1170px;
}
 #welcome-custom{
  color: $blue-dark ;
}
.btn-user{
  background: transparent;
  border: none;
  margin-top: -10px;
}

.dropdown-toggle-custom::after{
  margin-left:1.255em;

}
.dropdown-menu-custom{
  left:-89px;
  background-color: darkgray;
}


.btn-user:not(:disabled):not(.disabled).active, .btn-user:not(:disabled):not(.disabled):active, .show>.btn-user.dropdown-toggle {
  color: white;
  background-color: none;
  border-color: none;
  background: none;
  outline:none;
}

#user-icon{
  transform: scale(2,2);
  color: white;
  margin-top: 18px;
}

#dropdownMenuButtonUser:focus{
  outline: none !important;
  border: none !important;
}

.dropdown-toggle::after{
  color: white !important
}
 
.dropdown-menu-custom.show{
  background-color: $blue-dark;
}
.dropdown-item-custom:hover{
  color: blue;
  background-color: transparent;
}