<nav id="navbar" class="navbar navbar-expand-lg navbar-custom">
  <div class="navbar-header">
    <button type="button" id="sidebarCollapse">
      <i id="collapseButton" class="fas fa-bars"></i>
    </button>
  </div>

    <ul class="navbar-nav" >
        <!-- <i id="bell" class="fas fa-bell"><span class="badge badge-light">4</span></i> -->
      <li id="welcome" class="nav-item">
        <a id ="welcome-custom" style="font-size: 1em;" class="nav-link" href="#">Welcome, User<span class="sr-only">(current)</span></a>
      </li>
      <div style="width:30px"></div>
      
      <div class="dropdown">
          <button class="  dropdown-toggle dropdown-toggle-custom btn-user" type="button" id="dropdownMenuButtonUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i id="user-icon" class="fas fa-user-circle"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuButtonUser">
            <a class="dropdown-item dropdown-item-custom" href="#">Log Out</a>
            <a class="dropdown-item dropdown-item-custom" href="#">Settings</a>
            <a class="dropdown-item dropdown-item-custom" href="#">Help</a>
          </div>
      </div>
    </ul>

</nav>

<hr style="color: green; width:900px;">






