<!-- <div id="overlay"></div> -->

<div class="plus-container">
        <i routerLink="/map-dashboard" class="fa fa-plus vertical-align plus-button" aria-hidden="true" ></i>
</div>
<span style="color: #196eed; position: absolute; top: 310px;right:140px;">Add New Project</span> 
<div class="container main-container">
<!-- Search form -->
<form style="margin-left: 50px;" class="form-inline active-cyan-3 active-cyan-4">
        <i style="color: #196eed; margin-top: -60px;" class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75 searchbar" type="text" placeholder="Search"
          aria-label="Search">
</form>
    <div style="margin-left: 50px;" class="row">
        <div class="col-lg-9">
            <div class="card last-card">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="first-title"> Last Open Project</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="btn-group btn-chart" role="group" aria-label="Basic example">
                            <button type="button" class="btn button-lime btn-active">First</button>
                            <button type="button" class="btn button-lime">Second</button>
                            <button type="button" class="btn button-lime">Third</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div #chart id="chart" class="chart-container-principal"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
                <div id="container"></div> 
        </div>
       
        <div class="col-lg-4 ">
            <div class="card previous-card">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="first-title">Project's 2</p>
                    </div>
                </div>
                <div class="row">
                    <div #chart id="chart2" class="chart-container-secondary"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="card previous-card">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="first-title">Project's 3</p>
                    </div>
                </div>
                <div class="row">
                    <div #chart id="chart3" class="chart-container-secondary"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="card previous-card">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="first-title">Project's 4</p>
                    </div>
                </div>
                <div class="row">
                    <div #chart id="chart4" class="chart-container-secondary"></div>
                </div>
            </div>
        </div>
    </div>
</div>
