$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark: #76FF03; 
$blue-dark: #196eed;

$colore-stupendo:  linear-gradient(45deg, #00dbde, #fc00ff);


.selected{
    fill: $blue-dark;
  }







#overlay {
    display: none;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    margin:0 auto;
    }
    
#overlay.attivoo{
    display: block;
}


.main-container{
    background-color: $bg-dark;
    height: calc(100vh - 70px);
    width: calc(100vw - 100px);
    max-width: none;
    margin-left: 50px;
    padding: 15px 20px;
 }

 .card{
     background-color: transparent;
     border-radius:5px;
    //  box-shadow: 0px 0px 10px #212B46;
     padding:15px 20px;
 }

 .previous-card{
     height:230px;
     margin-top: -20px;
     background-color: $card-color-dark;
 }

 .last-card{
     height:370px;
     margin-bottom:20px;
     background-color: $card-color-dark;
 }

 .info-card{
     height:90px; 
     margin-bottom:20px;
     width:100%;
 }

 .mt{
     margin-top:10px;
 }

 .row-info{
    padding: 0px 15px;
 }

 .chart-container-principal{
     width:100%;
     height: 300px;
 }

 .chart-container-secondary{
    width:100%;
    height: 100%;
}

 .button-lime{
    color: $blue-dark;
    font-weight: bold;
    border-color: $blue-dark;
    padding: 0px 15px;
 }

 .button-lime:focus{
    box-shadow: 0 0 0 0.2rem $blue-dark !important;
 }

 .btn-chart{
    height: 27px;
    float: right;
 }

 .btn-active{
     background-color:$blue-dark;
     color:white;
 }

 .second-title{
    margin-bottom: 3px;
    font-size: 13px;
    color: white;
 }

 .first-title{
    font-size: 20px;
    margin-left:15px;
    font-weight:bold;
    color: $blue-dark;
 }

 .container-icon-rounded{
     height:55px;
     width:55px;
     border-radius:50%;
     margin-top:2px;
     position:relative;
 }

 

 .info-text{
     text-align:right;
 }

 .info-text .second-title{
     margin-bottom:0px;
 }

 .info-value{
     font-size:25px;
     font-weight:bold;
 }

 .plus-container{
     position:absolute;
     background-color:#6ff102;
     color:white;
     height:50px;
     width:50px;
     top: 244px;
     right: 173px;
     border-radius:50%;
    //  box-shadow: 0px 0px 10px #959b96b5; 
     z-index:2;
 }
 .plus-container:hover{
     cursor: pointer
 }

 .vertical-align{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
 }
 .logo-info{
     height:35px;
 }

 .plus-button{
     font-size:25px;
 }


.searchbar{
    background-color: $bg-dark;
    margin-top: -60px;
    max-width: 200px;
    border: 1px solid $blue-dark;
    color: white;
    outline: none !important;

}

#container {
    max-width: 800px;
    height: 400px;
    margin: 1em auto;
    // background-color: $card-color-dark;
  } 
