/* You can add global styles to this file, and also import other style files */



$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$colore-stupendo:  linear-gradient(45deg, #00dbde, #fc00ff);


body{
    background: $bg-dark;
    font-size: 0.9em;
    width: 100%;
    overflow-x: hidden;
    color: white;
    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
