/* You can add global styles to this file, and also import other style files */
body {
  background: #151C2F;
  font-size: 0.9em;
  width: 100%;
  overflow-x: hidden;
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
