
<div class="wrapper" style="margin-top:10px">
  <!-- Sidebar -->
  <nav id="sidebar" class="active">
    <ul class="list-unstyled components">
      <li>
        <img src = "./assets/img/esslogo.png" class="logo">
      <img src="./assets/img/scritta-logo.png" id="scritta-logo" class="scritta-logo" alt="">
      </li>
<div style="height: 110px;"></div>
      <div id="linea-logo"></div>
      <li>
        <button id="home"  class="button-sidebar" routerLink = "/map-dashboard">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="25" height="25"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="homeSel" fill="#ffffff;"><path d="M83.302,16.16699c-0.16797,0 -0.32544,0.0105 -0.49341,0.04199c-0.16797,0.04199 -0.33594,0.08398 -0.50391,0.14697c-0.15747,0.07348 -0.30444,0.15747 -0.46191,0.25195c-0.07349,0.05249 -0.17847,0.07348 -0.25195,0.13647l-33.21582,27.49439v-9.1438c0,-1.49072 -1.19678,-2.6875 -2.6875,-2.6875c-1.49072,0 -2.6875,1.19678 -2.6875,2.6875v13.4375c0,0.04199 0.021,0.08398 0.03149,0.13647l-5.40649,4.46167v-28.79614c0,-1.48023 -1.19678,-2.6875 -2.6875,-2.6875c-1.49072,0 -2.6875,1.20727 -2.6875,2.6875v32.2605c0,0.29395 0.08398,0.57739 0.16797,0.85034l-28.76465,23.79907c-1.14429,0.94482 -1.29126,2.63501 -0.35693,3.7793c0.5354,0.64038 1.31226,0.97632 2.07861,0.97632c0.60889,0 1.21777,-0.19946 1.72168,-0.61939l9.02832,-7.47461v67.21899h-8.0625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875c0,1.48022 1.19678,2.6875 2.6875,2.6875h150.5c1.49072,0 2.6875,-1.20728 2.6875,-2.6875c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875h-8.0625v-67.21899l9.02832,7.47461c0.50391,0.41992 1.11279,0.61939 1.72168,0.61939c0.76636,0 1.53272,-0.33594 2.06811,-0.96582c0.94483,-1.15478 0.78735,-2.84497 -0.35693,-3.78979l-77.9375,-64.5c-0.07349,-0.06299 -0.16797,-0.08398 -0.25195,-0.13647c-0.15747,-0.10498 -0.30444,-0.18897 -0.48291,-0.25195c-0.15747,-0.06299 -0.30444,-0.10498 -0.47241,-0.14697c-0.16797,-0.03149 -0.33594,-0.04199 -0.5144,-0.04199zM83.3125,22.29785l61.8125,51.15698v44.79517h-43v-21.5c0,-2.96045 -2.41455,-5.375 -5.375,-5.375h-26.875c-2.96045,0 -5.375,2.41455 -5.375,5.375v21.5h-43v-44.79517zM83.3125,48.375c-7.41162,0 -13.4375,6.02588 -13.4375,13.4375c0,7.41162 6.02588,13.4375 13.4375,13.4375c7.41162,0 13.4375,-6.02588 13.4375,-13.4375c0,-7.41162 -6.02588,-13.4375 -13.4375,-13.4375zM83.3125,53.1936c4.75561,0 8.6189,3.86328 8.6189,8.6189c0,4.75561 -3.86328,8.6189 -8.6189,8.6189c-4.75561,0 -8.6189,-3.86328 -8.6189,-8.6189c0,-4.75561 3.86328,-8.6189 8.6189,-8.6189zM69.875,96.75h26.875v48.23853h-26.875zM88.6875,115.5625c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM21.5,123.625h43v21.5h-43zM102.125,123.625h43v21.5h-43zM29.5625,129c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM43,129c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM56.4375,129c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM110.1875,129c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM123.625,129c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875zM137.0625,129c-1.49072,0 -2.6875,1.20728 -2.6875,2.6875v5.375c0,1.48022 1.19678,2.6875 2.6875,2.6875c1.49072,0 2.6875,-1.20728 2.6875,-2.6875v-5.375c0,-1.48022 -1.19678,-2.6875 -2.6875,-2.6875z"></path></g></g></svg>
        <span> Home</span>
        </button>
      </li>
      <hr>
      
      <br>
      <li>
        <button href="#masterSubmenu" id="master" class="button-sidebar" data-toggle="collapse" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="25" height="25"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="masterSel" fill="#ffffff"><path d="M129.26245,10.28809c-3.57983,0 -6.9602,1.40674 -9.50073,3.94727l-9.49023,9.49023c-2.09961,-2.08911 -5.51147,-2.08911 -7.60059,0l-15.20117,15.20117c-2.09961,2.09961 -2.09961,5.51147 0,7.60059l0.12598,0.13647l-4.15723,4.14673l-38.12891,-38.12891c-3.05493,-3.05493 -8.35645,-3.05493 -11.41138,0l-26.59155,26.59155c-3.14941,3.14941 -3.14941,8.26196 0,11.41138l38.09741,38.09741l-30.57031,30.53882c-1.35425,1.35425 -2.18359,3.14941 -2.34106,5.06006l-1.81616,22.5603l-1.88965,13.22754c-0.12598,0.83984 0.15747,1.67969 0.76636,2.28858c0.50391,0.50391 1.18628,0.77685 1.88965,0.77685c0.13647,0 0.26245,0 0.38843,-0.02099l13.23804,-1.88965l22.67578,-1.66919c1.93164,-0.14697 3.7373,-0.96582 5.10205,-2.34107l30.57031,-30.50732l37.90845,37.89795c1.57471,1.57471 3.63233,2.35156 5.70044,2.35156c2.06811,0 4.12573,-0.77685 5.70044,-2.35156l26.60205,-26.60205c3.14941,-3.14941 3.14941,-8.26196 0,-11.41138l-37.87695,-37.87695l4.15723,-4.15723c0.99732,0.93433 2.28858,1.45923 3.65332,1.45923c1.43823,0 2.79248,-0.5669 3.81079,-1.58521l15.20117,-15.20117c2.09961,-2.08911 2.09961,-5.50098 0,-7.60059l9.50073,-9.49023c2.54053,-2.54053 3.93677,-5.9104 3.93677,-9.50073c0,-3.60083 -1.39624,-6.9707 -3.93677,-9.51123l-19.00146,-18.99097c-2.54053,-2.54053 -5.9104,-3.94727 -9.51123,-3.94727zM39.59863,15.70508c0.70337,0 1.39624,0.26245 1.90015,0.77686l1.91065,1.88965l-5.70044,5.70044c-1.0603,1.0498 -1.0603,2.75049 0,3.80029c0.5144,0.5249 1.20728,0.78735 1.88965,0.78735c0.69287,0 1.38574,-0.26245 1.90015,-0.78735l5.70044,-5.70044l5.71094,5.70044l-9.50073,9.50073c-1.0603,1.0603 -1.0603,2.75049 0,3.81079c0.5144,0.5144 1.20728,0.77685 1.90015,0.77685c0.68237,0 1.37524,-0.26245 1.88965,-0.77685l9.50073,-9.51123l5.71094,5.70044l-5.70044,5.71094c-1.0498,1.0498 -1.0498,2.73999 0,3.78979c0.5249,0.5249 1.20727,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735l5.70044,-5.68994l5.70044,5.68994l-9.50073,9.51123c-1.0498,1.0498 -1.0498,2.73999 0,3.78979c0.5249,0.5249 1.20728,0.79785 1.90015,0.79785c0.69287,0 1.37524,-0.27295 1.90015,-0.79785l9.50073,-9.49023l3.92627,3.91577l-30.42334,30.39185l-38.10791,-38.11841c-1.0498,-1.0393 -1.0498,-2.75049 0,-3.78979l26.60205,-26.60205c0.50391,-0.51441 1.19678,-0.77686 1.88965,-0.77686zM129.26245,15.74707c2.08911,0 4.18872,0.75586 5.71094,2.27808l19.00147,19.00147c1.52222,1.52222 2.36206,3.54834 2.36206,5.70044c0,2.1521 -0.83984,4.17822 -2.36206,5.70044l-9.50073,9.51123l-30.41284,-30.41284l9.51123,-9.50073c1.52222,-1.52222 3.61133,-2.28857 5.68994,-2.27808zM106.46069,27.52588l19.01196,19.00146l17.10132,17.10132l1.90015,1.91065l-3.80029,3.78979c-1.0498,-1.0498 -2.75049,-1.0498 -3.80029,0l-3.80029,3.81079c-1.0498,1.0498 -1.0498,2.73999 0,3.78979l-3.78979,3.81079h-0.0105l-38.01343,-38.01343l3.80029,-3.80029c0.5249,0.5249 1.20728,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.26245 1.90015,-0.78735l3.81079,-3.80029c1.0498,-1.0498 1.0498,-2.75049 0,-3.80029zM110.27148,40.03955c-0.69287,0 -1.37524,0.26245 -1.90015,0.78735l-3.81079,3.80029c-1.0498,1.0498 -1.0498,2.75049 0,3.80029c0.5249,0.5249 1.21777,0.78735 1.90015,0.78735c0.69287,0 1.38574,-0.26245 1.91065,-0.78735l3.78979,-3.80029c1.0603,-1.0498 1.0603,-2.75049 0,-3.80029c-0.5249,-0.5249 -1.20728,-0.78735 -1.88965,-0.78735zM119.76172,49.55078c-0.68237,0 -1.36474,0.25195 -1.88965,0.78735l-3.81079,3.78979c-1.0393,1.0603 -1.0393,2.76099 0,3.81079c0.5249,0.5144 1.21777,0.77685 1.91065,0.77685c0.68237,0 1.36474,-0.26245 1.90015,-0.77685l3.78979,-3.81079c1.0498,-1.0498 1.0498,-2.75049 0,-3.78979c-0.5249,-0.5354 -1.20727,-0.78735 -1.90015,-0.78735zM91.40649,50.46411l30.40234,30.41284l-70.67285,70.55737l-2.56152,-12.80762l44.58521,-44.5957c1.0498,-1.0498 1.0498,-2.73999 0,-3.78979c-1.0498,-1.0603 -2.73999,-1.0603 -3.80029,0l-44.5957,44.5957l-6.33032,-1.27026l-1.27026,-6.34082l36.99512,-36.98462c1.0498,-1.0603 1.0498,-2.75049 0,-3.81079c-1.0498,-1.0498 -2.75049,-1.0498 -3.80029,0l-36.98462,36.99512l-12.53467,-2.49853zM129.27295,59.04102c-0.68238,0 -1.37524,0.26245 -1.90015,0.79785l-3.80029,3.78979c-1.0498,1.0603 -1.0498,2.75049 0,3.81079c0.5249,0.5144 1.20728,0.78735 1.90015,0.78735c0.69287,0 1.37524,-0.27295 1.90015,-0.78735l3.80029,-3.81079c1.0498,-1.0498 1.0498,-2.75049 0,-3.78979c-0.5249,-0.5354 -1.21777,-0.79785 -1.90015,-0.79785zM87.45923,70.45239c-0.69287,0 -1.37524,0.25195 -1.88965,0.77685l-7.60059,7.61109c-1.0603,1.0498 -1.0603,2.73999 0,3.80029c0.5144,0.5144 1.20728,0.78735 1.90015,0.78735c0.68237,0 1.37524,-0.27295 1.88965,-0.78735l7.60059,-7.60059c1.0603,-1.0603 1.0603,-2.75049 0,-3.81079c-0.5249,-0.5249 -1.20728,-0.77685 -1.90015,-0.77685zM117.65161,92.62427l1.77417,1.76367l-5.71094,5.70044c-1.0498,1.0498 -1.0498,2.75049 0,3.80029c0.5249,0.5249 1.21777,0.78735 1.90015,0.78735c0.69287,0 1.38574,-0.26245 1.91065,-0.78735l5.68994,-5.70044l5.71094,5.70044l-9.50073,9.50073c-1.0603,1.0603 -1.0603,2.75049 0,3.81079c0.5144,0.5144 1.20728,0.78735 1.88965,0.78735c0.69287,0 1.38574,-0.27295 1.90015,-0.78735l9.51123,-9.50073l5.70044,5.68994l-5.70044,5.70044c-1.0603,1.0603 -1.0603,2.75049 0,3.81079c0.5144,0.5144 1.20728,0.77685 1.90015,0.77685c0.68237,0 1.37524,-0.26245 1.88965,-0.77685l5.71094,-5.70044l5.70044,5.70044l-9.51123,9.50073c-1.0498,1.0498 -1.0498,2.73999 0,3.78979c0.5249,0.5249 1.21777,0.78735 1.91065,0.78735c0.68237,0 1.37524,-0.26245 1.90015,-0.78735l9.49023,-9.50073l3.81079,3.81079c1.03931,1.03931 1.03931,2.73999 0,3.78979l-26.61255,26.61255c-1.00781,1.00781 -2.78198,1.00781 -3.78979,0l-37.90845,-37.90845zM17.7627,125.7876l14.20386,2.83447l1.54321,7.75806c0.22046,1.0603 1.0498,1.88965 2.11011,2.09961l7.74756,1.55371l2.86597,14.34033l-20.4502,1.50122l-9.6582,-9.64771z"></path></g></g></svg>
          <span   id="master-planning"> Master Planning & Retrofit</span>
        </button>
        <ul style="margin-left:40px; margin-top:20px" class="collapse list-unstyled" id="masterSubmenu">
            <li>
                <a id="build-sel" style="background-color: inherit;" routerLink="/map-dashboard">Buliding Selection</a>
            </li>
            <!-- <li>
                <a id="summary-tab" style="background-color: inherit"routerLink="/details">Summary Table</a>
            </li> -->
            <li>
              <a id="inp-sel" style="background-color: inherit"routerLink="/inputsel">Input Selection</a>
          </li>
            <li>
                <a id="opt-sel" style="background-color: inherit" routerLink="/dragdrop">Optimization Selection</a>
            </li>
            <li>
              <a id="opt-res" style="background-color: inherit" routerLink="/opt-results">Optimization Results</a>
          </li>
        </ul>
    </li>
    <hr>
    <br>
    <li>
      <button style="opacity:0.3" disabled href="#schedSubmenu" id="scheduling" class="button-sidebar" data-toggle="collapse" aria-expanded="false">
        <svg class="icons" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="25" height="25"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g class="icons" fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="schedSel" fill="#ffffff"><path class="icons" d="M86,0c-6.34196,0 -11.49139,4.45011 -13.06125,10.32h-14.45875h-24.08c-5.68976,0 -10.32,4.63024 -10.32,10.32v134.16c0,5.68976 4.63024,10.32 10.32,10.32h72.49531c-1.89544,-2.11216 -3.58115,-4.41008 -5.01219,-6.88h-67.48313c-1.89544,0 -3.44,-1.54112 -3.44,-3.44v-134.16c0,-1.89888 1.54456,-3.44 3.44,-3.44h20.64v10.32c0,5.6587 4.6613,10.32 10.32,10.32h41.28c5.6587,0 10.32,-4.6613 10.32,-10.32v-10.32h20.64c1.89544,0 3.44,1.54112 3.44,3.44v75.85469c2.35984,0.19608 4.65088,0.6013 6.88,1.17578v-77.03047c0,-5.68976 -4.63024,-10.32 -10.32,-10.32h-24.08h-14.45875c-1.56986,-5.86989 -6.71929,-10.32 -13.06125,-10.32zM86,6.88c3.84133,0 6.88,3.03867 6.88,6.88c0.00019,1.89978 1.54022,3.43981 3.44,3.44h13.76v10.32c0,1.9437 -1.4963,3.44 -3.44,3.44h-41.28c-1.9437,0 -3.44,-1.4963 -3.44,-3.44v-10.32h13.76c1.89978,-0.00019 3.43981,-1.54022 3.44,-3.44c0,-3.84133 3.03867,-6.88 6.88,-6.88zM48.16,61.92c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h75.68c1.24059,0.01754 2.39452,-0.63425 3.01993,-1.7058c0.62541,-1.07155 0.62541,-2.39684 0,-3.46839c-0.62541,-1.07155 -1.77935,-1.72335 -3.01993,-1.7058zM48.16,82.56c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h75.68c1.24059,0.01754 2.39452,-0.63425 3.01993,-1.7058c0.62541,-1.07155 0.62541,-2.39684 0,-3.46839c-0.62541,-1.07155 -1.77935,-1.72335 -3.01993,-1.7058zM48.16,103.2c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h55.04c1.24059,0.01754 2.39452,-0.63425 3.01993,-1.7058c0.62541,-1.07155 0.62541,-2.39684 0,-3.46839c-0.62541,-1.07155 -1.77935,-1.72335 -3.01993,-1.7058zM137.6,103.2c-18.92,0 -34.4,15.48 -34.4,34.4c0,18.92 15.48,34.4 34.4,34.4c18.92,0 34.4,-15.48 34.4,-34.4c0,-18.92 -15.48,-34.4 -34.4,-34.4zM137.6,110.08c15.136,0 27.52,12.384 27.52,27.52c0,15.136 -12.384,27.52 -27.52,27.52c-15.136,0 -27.52,-12.384 -27.52,-27.52c0,-15.136 12.384,-27.52 27.52,-27.52zM134.16,116.96v18.92l-12.38265,9.28531l4.12531,5.50937l15.13735,-11.35469v-22.36zM48.16,123.84c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h44.72c1.24059,0.01754 2.39452,-0.63425 3.01993,-1.7058c0.62541,-1.07155 0.62541,-2.39684 0,-3.46839c-0.62541,-1.07155 -1.77935,-1.72335 -3.01993,-1.7058z"></path></g></g></svg>
        <span> Scheduling & Operations</span>
      </button>
      <br>
      <br>
      <!-- <ul style="margin-left:40px" class="collapse list-unstyled" id="schedSubmenu">
          <li>
              <a style="background-color: inherit;" href="#">Option 1</a>
          </li>
          <li>
              <a style="background-color: inherit" href="#">Option 2</a>
          </li>
          <li>
              <a style="background-color: inherit" href="#">Option 3</a>
          </li>
      </ul> -->
  </li>
    </ul>
  </nav>
  <div style="margin-left:30px;"></div>


</div>




