@charset "UTF-8";
.elem-rif {
  color: #196eed;
}

.logo {
  position: absolute;
  top: -95px;
  left: -65px;
  transform: scale(0.25, 0.25);
  transition: all 0.4s;
  z-index: -56;
}

.second-menu {
  background: none;
  border: none;
}

.sec-menu-body {
  background-color: inherit;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

#revolt-logo {
  transform: scale(0.1, 0.1);
  margin-top: -70px;
  transition: all 0.4s;
}

#revolt-logo.active {
  margin-left: -35px;
  margin-top: -70px;
  transition: all 0.4s;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #212B46;
  color: #fff;
  transition: all 0.4s;
  box-shadow: 4px 0px 4px -1px rgba(0, 0, 0, 0.75);
}

#sidebar.active {
  margin-left: -10px;
  width: 70px;
  text-align: center;
  transition: width 0.4s;
}

.button-sidebar[data-toggle="collapse"] {
  position: relative;
  background-color: transparent;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.button-sidebar, .button-sidebar:hover, .button-sidebar:focus {
  text-decoration: none;
  transition: all 0.3s;
  background-color: transparent;
  color: white;
}

#sidebar ul li #home {
  margin-left: 12px;
}

#sidebar.active ul li #master {
  margin-left: 5px;
}

#sidebar.active ul li #scheduling {
  margin-left: 5px;
}

#sidebar ul li .button-sidebar:hover {
  color: #196eed;
}

#sidebar ul li .button-sidebar:hover .icons {
  fill: #196eed;
}

#sidebar ul li.active > .button-sidebar, .button-sidebar[aria-expanded="true"] {
  border-radius: 10px;
  padding-left: 10px;
}

#sidebar.active svg {
  transform: scale(1.5, 1.5);
}

.icons-noactive {
  fill: white;
}

#sidebar.active ul li .button-sidebar {
  padding: 5px 0px;
  margin-left: 24px;
  text-align: center;
}

#sidebar.active ul li .button-sidebar i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active span {
  /*eliminiamo le scritte quando la sidebar è chiusa */
  display: none;
}

/* Same dropdown links padding*/
#sidebar.active ul ul .button-sidebar {
  padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
ul li .button-sidebar {
  margin-left: 30px;
}

.button-sidebar:hover {
  cursor: pointer;
}

#linea-logo {
  width: 50px;
  height: 3px;
  background-color: #196eed;
  position: absolute;
  top: 54px;
  left: 15px;
  z-index: 400;
  transition: all 0.4s;
}

.linea-attiva {
  width: 200px !important;
  transition: all 0.4s;
}

.scritta-logo {
  transform: scale(0.3, 0.3);
  position: absolute;
  top: -51px;
  left: -90px;
  transition: width 1s;
  width: 0;
}

.scritta-attiva {
  width: 500px;
  transition: width 0.4s;
}

.button-sidebar {
  outline: none;
  border: none;
}
