$bg-dark: #151C2F;
$card-color-dark: #212B46;
$navbar-dark:#151C2F;
$sidebar-dark: #212B46;
$green-dark:  #76FF03; 
$blue-dark: #196eed;

body{
overflow-y: hidden !important;

}

  .box{
    width: 500px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 20px;
    
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $blue-dark;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    color: white;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: $blue-dark;
  }
  

  .login-btn{
    border: 1px solid $blue-dark !important;
    color:$blue-dark;
    padding:  5px 25px;
    border-radius: 24px;
    text-decoration: none;
    background-color: #191919;
  } 


  
  .shape-container{
    position:relative;
    width: 1245px;
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .shape-top{
    position:absolute;
    top:-40px;
    left:0;
    width: 100%;
    height: 100%;
    // background-image: url('https://images.unsplash.com/photo-1557838429-126184c0345c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
   background-color: $blue-dark;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 80% 0, 35% 50%, 0 12%);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: -4;
  }
  
  