<div class="shape-container">
<div class="row">
  <div class="col-lg-6">
    <img style="transform: scale(1.5,1.5);" src="./assets/img/logo_login.png" alt="">

    </div>
  <div class="col-lg-6" style="margin-top:107px;">
<form class="box" action="default.html" method="post">
  <h1>Login</h1>
  <input type="text" autocomplete='off' name="" placeholder="Username" id="username">
  <input type="password" name="" placeholder="Password">
  <!-- <label class="form-check-label" for="exampleCheck1">Remember me</label> -->
 
  <div class="row" style="position: absolute; left:130px;">
    <div class="col-lg-6">
      <a routerLink = '/map-dashboard' id="submit"  class="login-btn" name="" value="Login">Login</a>
    </div>
    <div class="col-lg-6">
      <a routerLink = '/registration' id=""  class="login-btn" name="" value="Login">Register</a>
    </div>
  </div>

</form>
</div>
</div>












    <div class="shape-top"></div>
  </div>
  




