
<div id="optim-loader" style="display:block; position: absolute; top:200px;" >
        <div class="row">
            <div class="col-lg-12">
          <div class="loader">
              <span>O</span>
              <span>P</span>
              <span>T</span>
              <span>I</span>
              <span>M</span>
              <span>I</span>
              <span>Z</span>
              <span>I</span>
              <span>N</span>
              <span>G</span>
          </div> 
        </div>
        </div>
        <br>
        <div class="row">
                <div class="col-lg-12">
          <div class="my-progress-bar"></div>
          <div class="circular-shadow"></div>
                </div>
        </div>
        </div>
  



        <div class="container-box" id="container-box" style="font-size:10px;  background-color:#14191E !important; color:white !important ">


          <!-------------------------------------------------------------------- INIZIO BUS   ---------------------------------             -->
         
         
         
                 <!----------------------------------------------- INIZIO ELECTRIC BUS -->
         
               
                                 
                 <div class="el-bus-oriz el-bus-oriz-striped el-bus-oriz-animated">
                        <svg width="900" height="10">
                    
                        
                      
                          <path d="M0,5 L820,5"
                                style="stroke:yellow; stroke-width: 6.25px; fill: none; visibility: hidden;
                                      "
                          />
                      
                      </svg>
                    
                    </div>

                    
                            <!----------------------------------------------- FINE ELECTRIC BUS -->
            
                            <!------------------------------------------- INIZIO COOOLING BUS -->
                                  <div class="cool-bus-oriz cool-bus-oriz-striped cool-bus-oriz-animated">
                                    <svg width="900" height="10">
                                
                                    
                                  
                                      <path d="M12,5 L833,5"
                                            style="stroke:blue; stroke-width: 6.25px; fill: none; visibility: hidden;
                                                  "
                                      />
                                  
                                  </svg>
                            
                                </div> 
                              
                                                              

                        <!------------------------------------------------- FINE COOLING BUS -->
                        
                    
            
                        
                          <!---------------------------------- INIZIO HEAT BUS -->
                      
                            
                            <div class="heat-bus-oriz heat-bus-oriz-striped heat-bus-oriz-animated">
                                <svg width="900" height="10">
                            
                                
                              
                                  <path d="M12,5 L833,5"
                                        style="stroke:red; stroke-width: 6.25px; fill: none; visibility:hidden;
                                              "
                                  />
                              
                              </svg>
                            
                            </div>
        
                        
                            <!------------------------------------------------- FINE HEAT BUS -->
            
            
            
            
            <!-------------------------------------------------------------------- FINE BUS   ---------------------------------             -->
                    
                    
                    
                      <!-------------------------------------------------- INIZIO ELECTRIC BOILER -->
                      <div id="elboiler-comp" style="display:block;">
                  
                      <div class="el-bus-boiler">
                        <svg width="10" height="70">
                    

                          <path d="M5,0 L5,35"
                                style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                      marker-end: url(#el-bus-boiler);"
                          />
                      </svg>
                    </div>
                    
            
                    
                    <div class="heat-bus-boiler">
                        <svg width="10" height="70">
                    

                          <path d="M5,20 L5,60"
                                style="stroke:red; stroke-width: 1.25px; fill: none;
                                      marker-end: url(#heat-bus-boiler);"
                          />
                      </svg>
                    </div>
            
                    
                    <img class="el-boiler modale" id="el-boiler"  data-toggle="modal" data-target="#boilermodal" src="./assets/img/el_boiler2.png" alt="">
                    
                    <button id="rimboil" ></button> 
                    
        
                    <!-- Modal -->
        <div class="modal fade" id="boilermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="background:linear-gradient(45deg,red,#8B0000);">
                      <h5 class="modal-title modal-title-pv" id="exampleModalLabel">Electric Boiler info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body modal-body-pv">
                      <ul>
                        <li>Size: x</li>
                        <li>Cost: x</li>
                        <li>Other: x</li>
                      </ul>                
                      </div>
                  
                  </div>
                </div>
              </div>
        
                  </div>
                    
                    <!---------------------------------------------- FINE ELECTRIC BOILER -->
                    
                    
                    
                    
                    <!------------------------------------ INIZIO ELECTRIC CHILLER -->
        
                    <div id="elchiller-comp" style="display:block;">
                      <div class="el-bus-chiller">
                        <svg width="10" height="240">

                          <path d="M5,0 L5,220"
                                style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                        marker-end: url(#el-bus-chiller);"
                          />
                      </svg>
                    </div>
                    
                    <img src="./assets/img/chill2.png" class="el-chiller modale" id="el-chiller" data-toggle="modal" data-target="#chillermodal">
                    <button id="rimchill" ></button> 
          
                    <!-- Modal -->
          <div class="modal fade" id="chillermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header"  style="background:linear-gradient(45deg,#00BFFF,#4c4cff);">
                      <h5 class="modal-title" id="exampleModalLabel">Electric Chiller info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body modal-body-pv">
                        <ul>
                            <li>Size: x</li>
                            <li>Cost: x</li>
                            <li>Other: x</li>
                          </ul>                  </div>
                  
                  </div>
                </div>
              </div>
                    
                    <div class="cool-bus-chiller">
                        <svg width="10" height="100">

                          <path d="M5,35 L5,70"
                                style="stroke:#00BFFF; stroke-width: 1.25px; fill: none;
                                        marker-end: url(#cool-bus-chiller);"
                          />
                      </svg>
                    </div>
                  </div>
                    
                    <!------------------------------------------ FINE ELECTRIC CHILLER -->
                    
                    
                    
                    
                  
                    
                    
                    
                    
                    
                    <!--------------------------------------------- INIZIO SOLAR -->
                    
                        <div id="solar-comp" style="display:block;">
                        <img src="./assets/img/solar-panel.png" style="color:black;" class="pv modale" id="pv"  data-toggle="modal" data-target="#pvmodal">
                        <button id="rimsol" ></button> 
                        <!-- Modal -->
            <div class="modal fade" id="pvmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="background: linear-gradient(45deg,yellow,yellowgreen);">
                          <h5 class="modal-title modal-title-pv" id="exampleModalLabel">PV info</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body modal-body-pv">
                          <ul>
                              <li>Size: x</li>
                              <li>Cost: x</li>
                              <li>Other: x</li>
                            </ul>
                            <a href="graph.html" class="optim">See graph</a>
                                            
                            </div>
                      
                      </div>
                    </div>
                
                </div>
                    
                  
            
                        <div class="PVToEn">
            
                                <svg id="freccia-pvEn" width="20" height="80">
    
                              
                                  <path d="M15,0 L15,45"
                                        style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                              marker-end: url(#arrowpven);"
                                  />
                              
                              </svg>
                            
                            </div>
                        </div>
                        <!--------------------------------------------------- FINE SOLAR  -->
                    
                  
                    
                    <!------------------------------------------------ INIZIO WIND -->
                    <div id="wind-comp" style="display:block;">
                    <div class="wind-component">
                        <div class="WindToEn">
                            <svg width="10" height="60">

                              <path d="M5,0,5,40" 
                                    style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                          marker-end: url(#arrowwinden);"
                              />
                          
                          </svg>
                        
                        </div>
                    
                        
                    
                    
                    
                        <img class="wind modale" id="wind" src="./assets/img/wind.png"  data-toggle="modal" data-target="#windmodal">
                        <button id="rimwind" ></button> 
                        <div class="modal fade" id="windmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="background:linear-gradient(45deg,grey,white);">
                              <h5 class="modal-title modal-title-wind" id="exampleModalLabel">Wind Turbine info</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body modal-body-wind">
                                <ul>
                                    <li>Size: x</li>
                                    <li>Cost: x</li>
                                    <li>Other: x</li>
                                  </ul>                           </div>
                          
                          </div>
                        </div>
                      </div>
                        
                    </div>
                    
                  </div>
                            <!------------------------------------------------ FINE WIND -->
            
                    
                    
                    
            
                    
                    
                    
                    <!--------------------------------------------- INIZIO STORAGE --------------------------------------------------------------->
                    
                      <!-- INIZIO ELEC-STORAGE -->
                    
                    
                    <div class="electricity-storage" id="elstor-comp" style="display:block;">
                    <div class="el-bus-stor">
                      <svg width="10" height="40">

                        <path d="M5,0 L5,30"
                              style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                      marker-end: url(#el-bus-stor);"
                        />
                      
                      </svg>
                      </div>
                      
                      <img src="./assets/img/battery2.png" class="el-stor modale" id="el-stor" data-toggle="modal" data-target="#elstormodal">
                      <button id="rimelstor"></button> 
                      <div class="modal fade" id="elstormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header" style="background: linear-gradient(45deg, yellow, #cccc00);">
                            <h5 class="modal-title" id="exampleModalLabel">Electricity Storage info</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body modal-body-wind">
                              <ul>
                                  <li>Size: x</li>
                                  <li>Cost: x</li>
                                  <li>Other: x</li>
                                </ul>                         </div>
                        
                        </div>
                      </div>
                    </div>
                      
                      <div class="el-bus-stor-up">
                      <svg width="10" height="40">

                        <path d="M5,0 L5,30"
                              style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                    marker-end: url(#el-bus-stor-up);"
                        />
                      
                      </svg>
                      </div>
                      </div>
                      
                      <!-- FINE ELEC-STORAGE -->
                    
                    
                    
                      <!-- INIZIO THERMAL STORAGE -->
                    
                      <div class="thermal-storage" id="heatstor-comp" style="display:block;">
                            <div class="therm-bus-stor">
                                <svg width="10" height="40">

                                  <path d="M5,0 L5,30"
                                        style="stroke:red; stroke-width: 1.25px; fill: none;
                                              marker-end: url(#therm-bus-stor);"
                                  />
                            
                              </svg>
                            
                            
                            
                            </div>
                            
                            <img src="./assets/img/heat_stor2.png" class="therm-stor modale" id="therm-stor" data-toggle="modal" data-target="#thermstormodal">
                            <button id="rimtermstor" ></button> 
                            <div class="modal fade" id="thermstormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header" style="background: linear-gradient(45deg,red,#B22222)">
                                  <h5 class="modal-title"  id="exampleModalLabel">Thermal Storage info</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body modal-body-wind">
                                    <ul>
                                        <li>Size: x</li>
                                        <li>Cost: x</li>
                                        <li>Other: x</li>
                                      </ul>                               </div>
                              
                              </div>
                            </div>
                          </div>
                            
                            <div class="therm-bus-stor-up">
                            <svg width="10" height="40">
                            

                              <path d="M5,0 L5,30"
                                    style="stroke:red; stroke-width: 1.25px; fill: none;
                                          marker-end: url(#therm-bus-stor-up);"
                              />
                            
                            </svg>
                            </div>
                            </div>
                    
                      <!-- FINE THERMAL STORAGE -->
            
            
            
                      <!-- INIZIO COOLING STORAGE -->
                    
                      <div class="cooling-storage" id="coldstor-comp" style="display:block;">
                            <div class="therm-bus-stor">
 
                            
                            
                            
                            </div>
                            
                            <img src="./assets/img/cold-stor.png" class="cool-stor modale" id="cool-stor" data-toggle="modal" data-target="#coldstormodal">
                            <button id="rimcoldstor" ></button> 
                            
                    
                
        
                    <!-- Modal -->
        <div class="modal fade" id="coldstormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header"  style="background:linear-gradient(45deg,blue,white);">
                      <h5 class="modal-title" id="exampleModalLabel">Cold Energy Storage info</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body modal-body-pv">
                      <ul>
                          <li>Size: x</li>
                          <li>Cost: x</li>
                          <li>Other: x</li>
                        </ul>                  </div>
                  
                  </div>
                </div>
              </div>
                            
                            <div class="cool-bus-stor-up">
                            <svg width="10" height="50">

                              <path d="M5,10 L5,50"
                                    style="stroke:#00BFFF; stroke-width: 1.25px; fill: none;
                                          marker-end: url(#cool-bus-stor-up);"
                              />
                            
                            </svg>
                            </div>
                            </div>
                    
                      <!-- FINE COOLING STORAGE -->
            
            
            
            
                      
                      
                    
                    <!---------------------------------------------------------- FINE STORAGE -------------------------------------------------------->
                    
                    
            
                    <!---------------------------------------------------------- INIZIO CHP -------------------------------------------------------->
            
                    <div id="chp-comp" style="display:block;">
                    <img src="./assets/img/chp.png" class="chp modale" id="chp" data-toggle="modal" data-target="#chpmodal">
                    <button id="rimchp" ></button> 
        
                    <div class="modal fade" id="chpmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="background:linear-gradient(45deg,red,yellow);">
                          <h5 class="modal-title" id="exampleModalLabel">CHP info</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>Size: x</li>
                                <li>Cost: x</li>
                                <li>Other: x</li>
                              </ul>                       </div>
                      
                      </div>
                    </div>
                  </div>
                    <div class="chpToEn">
            
                        
            
                            <div class="chpToEn-oriz">
                            <svg width="30" height="70">
                        

                          
                              <path d="M10,0 L10,57"
                                    style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                          marker-end: url(#arrowchpen);"
                              />
                          
                          </svg>
                        </div>
            
                        <div class="chpToHeat">
                                <svg width="10" height="70">

                              
                                  <path d="M5,0 L5,50"
                                        style="stroke:red; stroke-width: 1.25px; fill: none;
                                              marker-end: url(#arrowchpheat);"
                                  />
                              
                              </svg>
                            </div> 
            
            
                        
                        </div>
                      </div>
            
                    <!---------------------------------------------------------- FINE CHP -------------------------------------------------------->
        
                    <!---------------------------------------------------------- INIZIO CCHP -------------------------------------------------------->
        
                    <div id="cchp-comp" style="display:block;">
                    <img src="./assets/img/absorption-chill.png" class="cchp modale" id="cchp" data-toggle="modal" data-target="#cchpmodal">
                    <button id="rimcchp" ></button> 
                    
        
                    <div class="modal fade" id="cchpmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header" style="background:linear-gradient(45deg,yellow,#00BFFF);">
                            <h5 class="modal-title" id="exampleModalLabel">Absorption Chiller info</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <ul>
                                <li>Size: x</li>
                                <li>Cost: x</li>
                                <li>Other: x</li>
                              </ul>                        </div>
                        
                        </div>
                      </div>
                    </div>
            
                    
                    <!-- <div class="cchpToEnUp">
                            <svg width="10" height="110">
                        
                                    <path d="M10,110 L10,0"
                                          style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                                "
                                    />
                                
                                </svg>
                    </div> -->
                            <!-- <div class="cchpToEn-oriz">
                                    <svg width="150" height="30">
                                
                                      <defs>
                                          <marker id="arrowcchpen" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                                              <path d="M2,2 L2,11 L10,6 L2,2" style="fill:yellow;" />
                                          </marker> 
                                      </defs>
                                  
                                      <path d="M0,10 L122,10"
                                            style="stroke:yellow; stroke-width: 1.25px; fill: none;
                                                  marker-end: url(#arrowcchpen);"
                                      />
                                  
                                  </svg>
                                </div> -->
                                
                                <div class="cchpToHeat">
                                        <svg width="10" height="90">

                                          <path d="M5,0 L5,46"
                                                style="stroke:red; stroke-width: 1.25px; fill: none;
                                                      marker-end: url(#arrowcchpheat);"
                                          />
                                      
                                      </svg>
                                    </div> 
            
                                    <div class="cchpToCoolDown">
                                            <svg width="10" height="90">
     
                                                    <path d="M5,15, L5,67"
                                                          style="stroke:#00BFFF; stroke-width: 1.25px; fill: none;
                                                          marker-end: url(#arrowcchpcold);"
                                                    />
                                                
                                            </svg>
                                    </div>
            
                                    <!-- <div class="cchpToCoolRight">
                                            <svg width="140" height="10">
                                                    <defs>
                                                            <marker id="arrowcchpcool" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                                                              <path d="M2,2 L2,11 L10,6 L2,2" style="fill:#00BFFF;" />
                                                          </marker> 
                                                      </defs>
                                                    <path d="M0,5 L123,5"
                                                          style="stroke:#00BFFF; stroke-width: 1.25px; fill: none;
                                                          marker-end: url(#arrowcchpcool);"
                                                    />
                                                
                                            </svg>
                                    </div> -->
            
  
                                    
                                  </div>
  
  
                                
                              
                    
  
                                        
                        
                      </div>      