body{
    background-color: #14191E !important;
    font-family: Arial, Helvetica, sans-serif;
    color: #00ACFA;
    overflow:hidden;

}



.pointer{
    cursor: pointer;
   
}



 #indietro{
    position: absolute;
    top:20px;
    left:15px;
   outline: none;
transform: scale(3,3)   
} 

/* QUESTE SONO LE DIMENSIONI GIUSTE */
#map{
    height:500px;
    width:850px;
    background-repeat: no-repeat;
    margin: none;
} 

.input-area{
    
    width: 150px;
    padding: 0 10px;
    padding-right: 70px;
}
/* 
#map{
    height:900px;
    width:1600px;
    background-repeat: repeat-y;
} */

#mappa_prova{
    height:300px;
    width:50%;
}


.colore-navbar {

    background-color:  #14191E;
}


.navbar-custom {
    padding-left: 40px;
    padding-right: 60px;
    height:70px;
    background-color:  #14191E !important;
}


.sposta-elemento1{
    /* position: absolute;
left: 250px; */
color: #00BAFF !important;

}







.container-custom{
    padding-left: 1px;
    padding-right: 50px;
    margin-left: 0px;
  
} 


.cambio-colore {
    background-color: #292A26 !important;
    color: white;
    padding: 10px;
    
    
    /* position:absolute;
    right: 60px;
    top: 2px; */
    /* font-size: 15px; */
    
    
}


.elem-sinistra{
   
    /* position: absolute;
    left: 30px; */
    width:80%;
}


input{
    
   border-color: #00BAFF ;
   color: #00BAFF ;
   background-color:  #292A26  ;


   /* font-size: 15px; */
}

.input{
      
   border-color: #00BAFF !important;
   color: #00BAFF !important;
   background-color:  #292A26 !important ;
   /* font-size: 15px; */

   
}

::placeholder{
    color: #00BAFF !important;
    /* font-size: 15px; */
}

 .upload {
     border: 1px solid;
     padding: 5px;
    border-color: #00BAFF !important;
    color: #00BAFF !important;
    background-color:  #292A26 !important ;
    margin-left: 75px; 
    border-radius: 5px;
    /* font-size: 15px; */
}


.inputfile{
        
   border-color: #00BAFF !important;
   color: #00BAFF !important;
   background-color:  #292A26 !important ;
   /* font-size: 15px; */
}


.el-load{
    border: 1px solid;
    padding: 3px;
   border-color: #00BAFF !important;
   color: #00BAFF !important;
   background-color:  #292A26 !important ;
  margin-left: 30px;
  border-radius: 5px;
  /* font-size: 15px; */

}



.col-load{
    border: 1px solid;
    padding: 3px;
   border-color: #00BAFF !important;
   color: #00BAFF !important;
   background-color:  #292A26 !important ;
  margin-left: 40px;
  border-radius: 5px;
  /* font-size: 15px; */

}


.sol-load{
    border: 1px solid;
    padding: 3px;
   border-color: #00BAFF !important;
   color: #00BAFF !important;
   background-color:  #292A26 !important ;
  margin-left: 40px;
  border-radius: 5px;
  /* font-size: 15px; */

}

.el-load:hover{
    color:white !important;
}

.col-load:hover{
    color:white !important;
}

.sol-load:hover{
    color:white !important;
}


.bottone{
    width: 130px;
    border-radius: 5px;
    background-color: #00ACFA !important;
   
}


.salva{
    background-color: #145A7B;
    border-radius: 5px;
    width: 130px;
}



.cerca{
    border: 1px solid #00BAFF;
    border-radius: 5px;
    padding:6.4px;
    /* position: absolute;
    left: 823px;
  */
}


.barra{
    
width: 750px !important;
/* position: absolute;
left: 43px; */

} 


.dropdown-menu.show {
    display: block;
    background-color:  #292A26 !important ;

    border-radius: 5PX !important;
  }

  .larg-dropdown{
      width: 800px !important;
      color: white !important;
  }
  


 .mostra-dropdown{
   
height: 100px;
 }

 .metro{
     font-size: 12px !important;
 }


.area-item{
    
    
    border: 1px solid #00ACFA;
    border-radius: 5px;
    width: 230px;
    margin-top: -20px;
    margin-left: -50px;
    height: 35px;
    
}
 .dropdown-item-custom {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #292A26 !important;
    border: 0;
  
  }

  


  .dropdown-form-color{
    border-color: #00BAFF !important ;
    color: #00BAFF !important;
    background-color:  #292A26 !important ;
   
    
  }


  .spazio-dropdown-importproject{
    position: absolute !important;
    top:140px !important;
  }


  .spazio-dropdown-newproject{
    position: absolute !important;
    top:50px !important;
  }




  .tools-container{
    box-sizing: border-box;
    border: none;
    background-color:  #14191E !important ;

    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
      
  }


  .tools-container:hover{
    background-color: white !important ;

      
  }
  

  .col-container {
    display: table;
    width: 80%;
  }
  .col {
    display: table-cell;
    padding: 5px;

  
    
 

  }


  .colore-box{
      background-color:  #14191E !important;  
      color: #00ACFA
        
  }

  .icone{
      font-size: 30px;
      background-color:  #14191E !important; 
  }

  .colore-box:hover{
      color:white;
text-decoration: none;
  }


  .pos-logo-login{
      position: absolute;
      top:250px;
      left:250px;
      width: 400px;
  }


  .prova{
    border-bottom:solid #00ACFA 2px; 
    margin-left: 100px;
    margin-right: 100px;

  }


  .save-btn{
      background-color: #00ACFA;
      color: white;
      margin-left:130px;
  }


  


  .acc-color{
      background-color:  #14191E;
      color:#00ACFA;
      box-sizing: border-box;
      border-top:  1px #00ACFA solid;
      border-left:  1px #00ACFA solid;
      border-right:  1px #00ACFA solid;
      border-bottom:  none;

      

  }

  
  .card-color-ult{
    background-color:  #14191E;
    color:#00ACFA;
    box-sizing: border-box;
    border-bottom: 2px #00ACFA solid;
    

}

.card-body-custom {
 
    flex: 11 11 auto;
    padding: 1.25rem;
    border-bottom: 1px solid #00ACFA;
  
  }

.im-sol{
    width:100%;
    height: 100%;
 text-align: center;
 border-radius: 15px !important;


   
}


.im-turb{
    width:100%;
    height: 100%;
    background-color: grey;
    text-align: center;
    border-radius: 15px !important;

   
}

.im-elchill{
    width:100%;
    height: 100%;
    background: #00c4ff;
    text-align: center;
    border-radius: 15px !important;
   
}


.im-elboil{
    width:100%;
    height: 100%;
    background: red;
    text-align: center;
    border-radius: 15px !important;

}


.im-elstor{
    width:100%;
    height: 100%;
    background: gold !important;
    text-align: center;
    border-radius: 15px !important;
}




.im-coldstor{
    width:100%;
    height: 100%;
    background: #145A7B !important;
    text-align: center;
    border-radius: 15px !important;
}


.im-heatstor{ width:100%;
    height: 100%;
    background: #B22222 !important;
    text-align: center;
    border-radius: 15px !important;
}

.im-chp{
    height: 100%;
    background: linear-gradient(red,yellow) !important;
    text-align: center;
    border-radius: 15px !important;

}

.im-cchp{
    height: 100%;
    background: linear-gradient(red,#00ACFA) !important;
    text-align: center;
    border-radius: 15px !important;
}

.card-sol{
    background-color:  #14191E;
    display: -ms-flexbox;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 50%;

  }

.cont-solar{
    position: relative;
}

.bordo:hover{
    border: 3px solid #00ACFA  !important;
   

}
.cont-solar:hover{

cursor: pointer;

}
.add-solar{

    font-size: 80px;
    color: black !important;
    background: yellow !important;
    border: none !important;
    outline: none !important;
   
    
}

.add-boiler{
    font-size: 80px;
    color: black !important;
    background: red !important;
    border: none !important;
    outline: none !important;
}

.add-chiller{
    font-size: 80px;
    color: black !important;
    background: #00c4ff !important;
    border: none !important;
    outline: none !important;
}



.add-elstorage{
    font-size: 80px;
    color: black !important;
    background: gold !important;
    border: none !important;
    outline: none !important;
}


.add-coldstor{
    font-size: 80px;
    color: black !important;
    background: #145A7B !important;
    border: none !important;
    outline: none !important;
}

.add-heatstor{
    font-size: 80px;
    color: black !important;
    background: 	#B22222 !important;
    border: none !important;
    outline: none !important;
}

.add-chp{
    font-size: 80px;
    color: black !important;
    background: 	linear-gradient(red,yellow) !important;
    border: none !important;
    outline: none !important;
}


.add-cchp{
    font-size: 80px;
    color: black !important;
    background: 	linear-gradient(red,#00ACFA) !important;
    border: none !important;
    outline: none !important;
}
.cont-solar:hover  .add-solar{
    display:block;
    
}


.cont-turbine{
    position: relative;
}

.cont-turbine:hover{

opacity: 0.7;
cursor: pointer;

}
.add-turbine{

    font-size: 80px;
    color: black !important;
    background: grey !important;
    border: none !important;
    outline: none !important;
   
    
}


.cont-turbine:hover  .add-turbine{
    display:block;
    opacity: 0.9;
}









.rimuovi-el{
border: none !important;
color: red !important;
padding: none;
margin: none;
font-size: 30px;
outline: none !important;

}




.item-lista{
      
    border-color: #00BAFF !important;
    width:400px;
    color: #00BAFF !important;
    background-color:  #292A26 !important ;
    /* font-size: 15px; */
    padding-top: 1px;
    padding-bottom: 1px;
 
    
 }




 .cont-abs{
    position: relative;
}

.cont-abs:hover{

opacity: 0.7;
cursor: pointer;

}
.add-abs{
    position: absolute;
    top: 13%;
    left:34%;
    color: #00ACFA;
    font-size: 80px;
    display: none;
    opacity: 0.4;
    background: none;
    border: none;
    outline: none !important;
    
}


.cont-abs:hover  .add-abs{
    display:block;
    opacity: 0.9;
}


  

.cont-vap{
    position: relative;
}

.cont-vap:hover{

opacity: 0.7;
cursor: pointer;

}
.add-vap{
    position: absolute;
    top: 13%;
    left:34%;
    color: #00ACFA;
    font-size: 80px;
    display: none;
    opacity: 0.4;
    background: none;
    border: none;
    outline: none !important;
    
}


.cont-vap:hover  .add-vap{
    display:block;
    opacity: 0.9;
}



.cont-boiler{
    position: relative;
}

.cont-boiler:hover{

opacity: 0.7;
cursor: pointer;

}



.cont-boiler:hover  .add-boiler{
    display:block;
    opacity: 0.9;
}


.leggenda{
background-color:  #14191E;
border: none;
color: white;
}


.frecce-electric{
display:inline-block;
font-size: 30px;
margin: none;
color: yellow;
}

.frecce-cooling{
    display:inline-block;
    font-size: 30px;
    margin: none;
    color:  #08B6CE;
    }

    .frecce-fuel{
        display:inline-block;
        font-size: 30px;
        margin: none;
        color: red;
        }


        .container-box{
            background-color: whitesmoke !important;
            color: black !important;
            border: #00ACFA 3px solid;
            position: relative;
            width: 100%;
            height: 650px;
            font-size:10px; 
            background-color:#292A26 !important;
             color:white !important; 
        }
        .container-box-optim{
            position: absolute;
            top:-40px;
            left:-250px;
            width: 250px;
            height: 650px;
            font-size:10px; 
             color:white !important; 
        }


        .cont-custom{

            background-color:  #14191E !important;


        }
        .contenitore{
            border: #00ACFA 3px solid;
            width: 700px;
            height: 350px;
            background-color:  #14191E !important;
            position: absolute;
            top:-120px;
            left:50px;

        }


        .electric-bus{
            color:yellowgreen;
        }

        .solar-en{
            border: 1px solid  ;
            box-sizing: border-box;
            padding: 3px;
            width: 50px;
            height:35px;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 10px;
        }


       
        .pv{
         
            text-align: center; 
            position: absolute;
            top: 40px;
            left: 300px;

        }

        #rimsol{
            border: 1px solid  #14191E;
       background-color: #14191E !important;
            width: 60px;
            height:60px;
            position: absolute;
            top: 40px;
            left: 313px;
             z-index: -1; 
             outline: none;
             cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

        }


        .pv:hover{
            cursor: pointer;

        }

        .wind-en{
            border: 1px solid  ;
            box-sizing: border-box;
            padding: 3px;
            width: 45px;
            height:20px;
            text-align: center;
            position: absolute;
            top: 100px;
            left: 10px;
        }

        .wind{
           
          
            width: 80px;
            height:40px;
            text-align: center;
            position: absolute;
            top: 65px;
            left: 690px;
            transform: scale(2,2);
            background-color: #14191E;
           

        }

        .wind:hover{
            cursor: pointer;
        }

        .chp:hover{
            cursor: pointer;

        }

        .therm-stor:hover{
            cursor: pointer;
        }
        .el-boiler:hover{
            cursor: pointer;
        }
        .el-chiller:hover{
            cursor: pointer;
        }

        .cool-stor:hover{
            cursor: pointer;
        }
        .cchp:hover{
            cursor: pointer;
        }


        
        #rimwind{
            border: 1px solid  #14191E ;
            background-color: #14191E;
            padding: 3px;
            width: 60px;
            height:60px;
            text-align: center;
            position: absolute;
            top: 70px;
            left: 698px;
             z-index: -1; 
             outline: none;
             cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

        }

        .el-stor{
         
          
            color: yellow;
            
            position: absolute;
         top:-40px;
         left:430px;
          transform: scale(0.5,0.5)
            
        }

        #rimelstor{
            border: 1px solid   #14191E;
            box-sizing: border-box;
            width: 80px;
            height:55px;
            position: absolute;
            top: 1px;
            left: 451px;
            z-index: -1;
            background-color:  #14191E;
            outline: none;
            cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;


        }

        .el-stor:hover{
            cursor: pointer;
        }

        .windToTurb{


            position: absolute;
            top:60px;          
            left: 25px;

        }

        .solToPV{
            position: absolute;
            top:-20px;          
            left: 25px;

        }

        .PVToEn{
            position: absolute;
            top:25px;          
            left: 150px;
        }


        .WindToEn{
            position: absolute;
            top:113px;          
            left: 725px;
            animation-name: freccia;
            animation-duration: 4s;
        }

        .el-bus-vert{

            position: absolute;
            top:15px;          
            left: 270px;   
        }

        .el-bus-vert-right{
            position: absolute;
            top:15px;          
            left: 1085px;   
        }


        .el-bus-oriz{

            position: absolute;
            top:155px;          
            left: 273px;
            
        }

        .el-bus-stor{
            position: absolute;
            top:60px;          
            left: 487px;
            transform: rotate(180deg);            
        }

        
        .el-bus-stor-up{
            position: absolute;
            top:65px;          
            left: 487px;
            
            
        }

        .heat-bus-oriz{
            position: absolute;
            top:340px;          
            left: 259px;
            
        }

        .heat-bus-vert{

            position: absolute;
            top:200px;          
            left: 269px;
            
        }

        
        .heat-bus-vert-right{

            position: absolute;
            top:200px;          
            left: 1085px;
            
        }


        .el-boiler{
            /* border: 1px solid  ;
            box-sizing: border-box;
            padding: 3px; */
        
            text-align: center;
            position: absolute;
            top: 153px;
            left: 550px; 
            transform: scale(0.5,0.5);
            outline: none;
            /* box-shadow: 3px 3px 5px #800000; */

        }

        #rimboil{
       border: #14191E;
         background-color: #14191E;
            padding: 3px;
            width: 55px;
            height:75px;
            position: absolute;
             top: 212px;
            left: 623px;
             z-index: -1;  
             outline: none; 
             cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

          
        }

        
     



        .el-bus-boiler{

            position: absolute;
            top:165px;          
            left: 645px;
        }

        .heat-bus-boiler{
            position: absolute;
            top:270px;          
            left: 645px;
        }

        .el-chiller{
        
         
            text-align: center;
            position: absolute;
            top: 190px;
            left: 597px;
         
            
          
            transform: scale(0.2,0.2);

        }

        #rimchill{
            background-color: #14191E;
            border: 1px solid #14191E ;
            box-sizing: border-box;
            padding: 3px;
            width: 100px;
            height:90px;
            position: absolute;
             top:400px;
            left: 803px;
            z-index: -1;
            outline: none;
            cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

          
        }

        .el-bus-chiller{

            position: absolute;
            top:160px;          
            left: 845px;
        }

        .cool-bus-chiller{
            position: absolute;
            top:460px;          
            left: 845px;
            
        }

        .cool-bus-oriz{

            position: absolute;
            top:540px;          
            left: 260px;
        }


        .cool-bus-vert{

            position: absolute;
            top:400px;          
            left: 270px;
        }

         
        .cool-bus-vert-right{

            position: absolute;
            top:400px;          
            left: 1085px;
            
        }


        .res-el-dem{
            font-size: 13px;
            border: 1px solid  ;
            border-radius: 10px;
            width: 120px;
            height:60px;
            text-align: center;
            position: absolute;
            top: 90px;
            left: 1150px;
        }


        .ind-el-dem{
            font-size: 13px;
            border: 1px solid  ;
            border-radius: 10px;
            width: 120px;
            height:60px;
            text-align: center;
            position: absolute;
            top: 170px;
            left: 1150px;
        }


        .res-heat-dem{
            font-size: 13px;
            border: 1px solid  ;
            border-radius: 10px;
            width: 120px;
            height:45px;
            text-align: center;
            position: absolute;
            top: 295px;
            left: 1150px;
        }


        .ind-heat-dem{
            font-size: 13px;
            border: 1px solid  ;
            border-radius: 10px;
            width: 120px;
            height:45px;
            text-align: center;
            position: absolute;
            top: 355px;
            left: 1150px;
        }


        .res-cool-dem{
            font-size: 13px;
            border: 1px solid  ;
            border-radius: 10px;
            width: 120px;
            height:60px;
            text-align: center;
            position: absolute;
            top: 480px;
            left: 1150px;
        }


        .ind-cool-dem{
            font-size: 13px;
            border: 1px solid  ;
            border-radius: 10px;
            width: 120px;
            height:60px;
            text-align: center;
            position: absolute;
            top: 560px;
            left: 1150px;
        }
        

        .electricity-storage{
            position: absolute;
            top: 50px;
        }


        .wind-component{
            position: absolute;
            top:-20px;
            left:5px;
        }



        .chp{
         
            width: 45px;
            height:20px;
            text-align: center; 
            position: absolute;
            top: 245px;
            left: 325px;
            transform: scale(3.5,3.5)
      

        }

        #rimchp{
            border:  #14191E ;
            outline: none;
            background-color: #14191E;
            width: 95px;
            height:30px;
            text-align: center; 
            position: absolute;
            top: 240px;
            left: 300px;
            z-index: -1;
            cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

        }


        .chpToEnUp{
            position: absolute;
            top:170px;
            left:233px;
        }

        .chpToEn-oriz{
            position: absolute;
            top:170px;
            left:333px;

        }


        .chpToHeat{
            position:absolute;
            top:278px;
            left:338px;


        }


        .cchp{
          
            background-color: #14191E;
            width: 105px;
            height:35px;
            text-align: center; 
            position: absolute;
            top: 425px;
            left: 700px;
            transform: scale(1.3,2.7);

        }


        #cchp-comp{
            position:absolute;
            top:0px !important;
            left:-410px !important;
        }

        #rimcchp{
            border:none  ;
            outline: none;
            box-sizing: border-box;
            padding: 3px;
            width: 90px;
            height:50px;
            text-align: center; 
            position: absolute;
            top: 420px;
            left: 708px;
            z-index: -1; 
            cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

        }
        .cchpToEnUp{
            position: absolute;
            top:129px;
            left:127px;
        }

        .cchpToEn-oriz{
            position: absolute;
            top:119px;
            left:137px;
        
        }

        .cchpToHeat{
            position:absolute;
            top:350px;
            left:745px;

        }

        .cchpToCoolDown{
            position:absolute;
            top:460px;
            left:745px;
        }

        .cchpToCoolRight{
            position:absolute;
            top:407px;
            left:137px;
        }

        .thermal-storage{
            position: absolute;
            top:100px;
            left:350px;
           
        }

        .therm-stor{
            
           
            text-align: center; 
            position: absolute;
            left:-107px;
            top: -110px;
            transform: scale(0.18,0.18)
        
       
        }

        #rimtermstor{
            border: none;
            outline: none;
            background-color: #14191E !important;
            box-sizing: border-box;
            padding: 3px;
            width: 80px;
            height:90px;
            background-color:  #14191E;
            text-align: center; 
            position: absolute;
            left:110px;
            top: 100px;
             z-index: -1; 
             cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;


        
       
        }

        .therm-bus-stor-up{
            position: absolute;
            top:195px;
            left:140px;
            transform: rotate(180deg)
        }


        .therm-bus-stor{
            position: absolute;
            top:200px;
            left:140px;
        }

        .cooling-storage{
            position: absolute;
            top:300px;
            left:350px;
        }
        
        .cool-stor{
         background-color: #14191E;
            width: 65px;
            height:50px;
            text-align: center; 
            position: absolute;
            left:113px;
            top: 130px;
            transform: scale(1.3,1.3)        
        }
        #rimcoldstor{
            border: none;
            background-color: #14191E !important;
            box-sizing: border-box;
            padding: 3px;
            width: 77px;
            height:55px;
            text-align: center; 
            position: absolute;
            left:107px;
            top: 129px;
            background-color:  #14191E;
            outline: none;
            z-index: -1; 
            cursor: url('http://www.rw-designer.com/cursor-extern.php?id=63737'), auto;

        }
        
        .cool-bus-stor-up{
            position: absolute;
            top:190px;
            left:140px;
            transform: rotate(180deg)
        }
        
        
        .cool-bus-stor{
            position: absolute;
            top:200px;
            left:95px;
        }


        .el-bus-dem-vert{
            position: absolute;
            top:105px;
            left:1030px;
        }

        .el-bus-dem-oriz-sopra{
            position: absolute;
            top:70px;
            left:1065px;

        }

        .el-bus-dem-oriz-sotto{
            position: absolute;
            top:157px;
            left:1065px;

        }




        .heat-bus-dem{

            position: absolute;
            top:190px;
            left:4px;

        }
        .heat-bus-dem-vert{
            position: absolute;
            top:105px;
            left:1030px;
        }
        
        .heat-bus-dem-oriz-sopra{
            position: absolute;
            top:70px;
            left:1065px;
        
        }
        
        .heat-bus-dem-oriz-sotto{
            position: absolute;
            top:157px;
            left:1065px;
        
        }
        

        .cool-bus-dem{

            position: absolute;
            top:390px;
            left:3px;
        
        }
        .cool-bus-dem-vert{
            position: absolute;
            top:105px;
            left:1030px;
        }
        
        .cool-bus-dem-oriz-sopra{
            position: absolute;
            top:70px;
            left:1065px;
        
        }
        
        .cool-bus-dem-oriz-sotto{
            position: absolute;
            top:157px;
            left:1065px;
        
        }
        
        #freccia-pvEn{
            position: absolute;
            top:80px;
            left:145px;
        }

        .modal-body{
            font-size: 15px;
            color:black;
        }

        .modal-title {
            color: black;
           
        }

        .modal-header-pv{
            background-color: yellow;
        }

        .modal-header-wind {
            background-color: grey;

        }

        #freccia-solPV{
            position: absolute;
            top:45px;
            left:43px;
        }

        
        #freccia-windTurb{
            position: absolute;
            top:44px;
            left:40px;
        }


.preview{
    margin-left: 102px;
    margin-top: 35px;
    transform: translate(-50%,-50%) perspective(500px);
    transform: scale(2,2);

	text-align: center;
	text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #00ACFA);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}

.areacalc{
    font-size:13px !important;
    outline: none !important;
    border: none !important;
}

li > input {
    padding: 3px;
  
}

  .optim {
    
    margin-left: 102px;
    margin-top: 35px;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #00ACFA);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
.optim:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
.optim:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #00ACFA, transparent);
	transition: .5s;
}
.optim:hover:before
{
	left: 100%;
}


.evaluate {
    position: absolute;
    top: 550px;
    left:1300px;
    border: none;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	text-shadow: 6px 3px 2px  rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #00ACFA);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
.evaluate:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
.evaluate:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #00ACFA, transparent);
	transition: .5s;
}
.evaluate:hover:before
{
	left: 100%;
}














.red{
    transform: scale(3,3);
}




/* #el-boiler {
    border: 1px solid red !important  ;

    transform: translate(-50%,-50%) perspective(500px);
    padding: 3px;
    width: 110px;
    height:35px;
    text-align: center;
    position: absolute;
    top: 255px;
    left: 650px;
    position: absolute;
    border: 1px solid ;
	background: linear-gradient(90deg, #FF3333, red);
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
} */














.flip-box {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    perspective: 1000px;
    transform: scale(0.7,0.7);
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: yellow;
    color: black;
    border-radius: 15px;
  }
  
  .flip-box-back {
    transform: rotateY(180deg);
    border-radius: 15px;

  }



  .el-bus-oriz{
    display: -ms-flexbox;
    display: flex;
    width: 820px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: yellow;
  }


  .el-bus-oriz-striped{
    background-image: linear-gradient(45deg, yellow,#DAA520);
    background-size: 1rem 1rem;
  }


  .el-bus-oriz-animated{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
    animation: progress-bar-stripes 0.5s linear infinite;
    animation-direction: reverse;}





    .el-bus-vert{
        display: -ms-flexbox;
        display: flex;
        width: 9px;
        height: 140px;
        position: absolute;
        top: 25px;
        left:273px;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: yellow;
      }
    
    
      .el-bus-vert-striped{
        background-image: linear-gradient(45deg, yellow,#DAA520);
        background-size: 1rem 1rem;
      }
    
    
      .el-bus-vert-animated{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
        animation: progress-bar-stripes-vert 0.5s linear infinite;
        animation-direction: reverse;}



        @keyframes progress-bar-stripes-vert {
            from {
              background-position: 0 1rem;
            }
            to {
              background-position: 0 0;
            }
          }



          .el-bus-vert-right{
            display: -ms-flexbox;
            display: flex;
            width: 9px;
            height: 140px;
            position: absolute;
            top: 25px;
            left:1084px;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: yellow;
          }
        
        
          .el-bus-vert-striped-right{
            background-image: linear-gradient(45deg, yellow,#DAA520);
            background-size: 1rem 1rem;
          }
        
        
          .el-bus-vert-animated-right{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
            animation: progress-bar-stripes-vert-right 0.5s linear infinite;
            animation-direction: reverse;}
    
    
    
            @keyframes progress-bar-stripes-vert-right {
                from {
                  background-position: 0 0;
                }
                to {
                  background-position: 0 1rem;
                }
              }




              .heat-bus-oriz{
                display: -ms-flexbox;
                display: flex;
                width: 820px;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-pack: center;
                justify-content: center;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                background-color: red;
                position: absolte;
                left:273px;
              }
            
            
              .heat-bus-oriz-striped{
                background-image: linear-gradient(45deg, #ff3333,#800000);
                background-size: 1rem 1rem;
              }
            
            
              .heat-bus-oriz-animated{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
                animation: progress-bar-stripes 0.5s linear infinite;
                animation-direction: reverse;}
            
            
            
            
            
                .heat-bus-vert{
                    display: -ms-flexbox;
                    display: flex;
                    width: 9px;
                    height: 140px;
                    position: absolute;
                    top: 210px;
                    left:273px;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -ms-flex-pack: center;
                    justify-content: center;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    background-color: yellow;
                  }
                
                
                  .heat-bus-vert-striped{
                    background-image: linear-gradient(45deg, #ff3333,#800000);
                    background-size: 1rem 1rem;
                  }
                
                
                  .heat-bus-vert-animated{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
                    animation: progress-bar-stripes-vert 0.5s linear infinite;
                    animation-direction: reverse;}
            
            
            
                    @keyframes progress-bar-stripes-vert {
                        from {
                          background-position: 0 1rem;
                        }
                        to {
                          background-position: 0 0;
                        }
                      }
            
            
            
                      .heat-bus-vert-right{
                        display: -ms-flexbox;
                        display: flex;
                        width: 9px;
                        height: 140px;
                        position: absolute;
                        top:210px;
                        left:1084px;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -ms-flex-pack: center;
                        justify-content: center;
                        color: #fff;
                        text-align: center;
                        white-space: nowrap;
                        background-color: yellow;
                      }
                    
                    
                      .heat-bus-vert-striped-right{
                        background-image: linear-gradient(45deg, #ff3333,#800000);
                        background-size: 1rem 1rem;
                      }
                    
                    
                      .heat-bus-vert-animated-right{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
                        animation: progress-bar-stripes-vert-right 0.5s linear infinite;
                        animation-direction: reverse;}
                
                
                
                        @keyframes progress-bar-stripes-vert-right {
                            from {
                              background-position: 0 0;
                            }
                            to {
                              background-position: 0 1rem;
                            }
                          }




                          .cool-bus-oriz{
                            display: -ms-flexbox;
                            display: flex;
                            width: 820px;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            -ms-flex-pack: center;
                            justify-content: center;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            background-color: lightblue;
                            position: absolute;
                            left:273px;

                          }
                        
                        
                          .cool-bus-oriz-striped{
                            background-image: linear-gradient(45deg, blue,#00BFFF);
                            background-size: 1rem 1rem;
                          }
                        
                        
                          .cool-bus-oriz-animated{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
                            animation: progress-bar-stripes 0.5s linear infinite;
                            animation-direction: reverse;}
                        
                        
                        
                        
                        
                            .cool-bus-vert{
                                display: -ms-flexbox;
                                display: flex;
                                width: 9px;
                                height: 140px;
                                position: absolute;
                                top: 410px;
                                left:273px;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -ms-flex-pack: center;
                                justify-content: center;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                background-color: #00BFFF;
                              }
                            
                            
                              .cool-bus-vert-striped{
                                background-image: linear-gradient(45deg, blue,#00BFFF);
                                background-size: 1rem 1rem;
                              }
                            
                            
                              .cool-bus-vert-animated{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
                                animation: progress-bar-stripes-vert 0.5s linear infinite;
                                animation-direction: reverse;}
                        
                        
                        
                                @keyframes progress-bar-stripes-vert {
                                    from {
                                      background-position: 0 1rem;
                                    }
                                    to {
                                      background-position: 0 0;
                                    }
                                  }
                        
                        
                        
                                  .cool-bus-vert-right{
                                    display: -ms-flexbox;
                                    display: flex;
                                    width: 9px;
                                    height: 140px;
                                    position: absolute;
                                    top:410px;
                                    left:1084px;
                                    -ms-flex-direction: column;
                                    flex-direction: column;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                    color: #fff;
                                    text-align: center;
                                    white-space: nowrap;
                                    background-color: #00BFFF;
                                  }
                                
                                
                                  .cool-bus-vert-striped-right{
                                    background-image: linear-gradient(45deg, blue,#00BFFF);
                                    background-size: 1rem 1rem;
                                  }
                                
                                
                                  .cool-bus-vert-animated-right{   -webkit-animation: progress-bar-stripes 0.5s linear infinite;
                                    animation: progress-bar-stripes-vert-right 0.5s linear infinite;
                                    animation-direction: reverse;}
                            
                            
                            
                                    @keyframes progress-bar-stripes-vert-right {
                                        from {
                                          background-position: 0 0;
                                        }
                                        to {
                                          background-position: 0 1rem;
                                        }
                                      }



                                      .slider-opt {
                                        -webkit-appearance: none;  /* Override default CSS styles */
                                        appearance: none;
                                        width:180px; /* Full-width */
                                        height: 10px; /* Specified height */
                                        background: #d3d3d3; /* Grey background */
                                        outline: none; /* Remove outline */
                                        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
                                        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                                        transition: opacity .2s;
                                        
                                      
                                      }
                                      
                                      /* Mouse-over effects */
                                      .slider-opt:hover {
                                        opacity: 1; /* Fully shown on mouse-over */
                                      }
                                      
                                      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
                                      .slider-opt::-webkit-slider-thumb {
                                        -webkit-appearance: none; /* Override default look */
                                        appearance: none;
                                        width: 25px; /* Set a specific slider handle width */
                                        height: 25px; /* Slider handle height */
                                        background: #00ACFA; /* Green background */
                                        cursor: pointer; /* Cursor on hover */
                                        border-radius: 30px;
                                 
                                      }
                                      
                                      .slider-opt::-moz-range-thumb {
                                        width: 55px; /* Set a specific slider handle width */
                                        height: 55px; /* Slider handle height */
                                        background: red; /* Green background */
                                        cursor: pointer; /* Cursor on hover */
                                      }
                                    .slider-range-opt{
                                      position: absolute;
                                    list-style: none;
                                    word-spacing: 30px;
                                    top: -25px;
                                    left: -11px;
                                    margin-left: -29px;
                                    
                                    }
                                    
                                    .slid-titolo-opt{
                                      position: absolute;
                                    
                                    font-size: 13px;
                                    left:90px;
                                    top:110px;
                                    }

.optim-container{
    position: absolute;
    top:300px;
    left:1200px;
    transform: scale(1.5,1.5);
   
    
}


.modale{
    pointer-events: none;
    
}



.valore-cpx{
    position: absolute;
    top:-125px;
    left:0px;
    font-size: 10px;
    width:40px;

}
                    

.valore-npv{
    position: absolute;
    top:-125px;
    left:80px;
    font-size: 10px;
    width:40px;

}


.valore-co2{
    position: absolute;
    top:-125px;
    left:160px;
    font-size: 10px;
    width:40px;

}
     


.pos{
    position: absolute;
    left: 250px;
    top:20px;
}

.active-custom{
    background-color: #00BAFF !important;
    color:  #14191E !important;
}

#immagine_prova{
position: absolute;
top:-40px;
left:30px;


}


.prev{
  margin-top: 530px;
}


#chartdiv {
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 155px;
  }

  .chart{
    background-color: #ffffff !important;
    overflow: hidden;
    margin: 0;
    margin-top: 20px;
    height: 550px !important;
   
  }
  

  .maringesx{
      margin-left:-20px;
      width:200px;
  }

  .coprinumeri{
      position: absolute;
      background-color: #292A26; 
      color: #292A26;
      width: 100px;
      top:198px;
      left:123px;
     
  }

  .removearea{
      color: red !important;
  }

  .removeareabtn{
    background-color:  #14191E !important;
    border: none !important;
    outline: none !important;
}

.calculate-area{
    margin-left: -35px;
    width:215px;
    margin-top: -5px;
}

#reset{
    position: absolute;
    left:185px;
    top:-3px;
    border: 1px solid #00ACFA;
    padding: 5px;
    border-radius: 5px;
    outline: none;

}


.ritardo-anim{
    animation-delay: 2s;
}